{% load static %}
{% load range %}


<div class="messanger-body">
    <div class="chat-body">
        {% if request.GET.chat_id %}
            {% include 'account/contents/chat-body.html' %}
        {% else %}
            <div class="choose-chat">
                <h3>Выберите собеседника</h3>
            </div>
        {% endif %}
    </div>

    <div class="chat-list">
        {% for chat in chats %}
            {% with chat.chatuser as chatuser %}
                {% with chat.message as message %}
                <div class="chat {% if request.GET.chat_id|convert_to_int == chatuser.chat_id %}selected{% endif %}" data-id="{{chatuser.chat_id}}" onclick="selectChat({{chatuser.chat_id}})">
                    <img class="avatar" src="{% if chatuser.profile_picture %}{{ chatuser.profile_picture.url }}{% else %}{% static "account/images/nophoto.jpg" %}{% endif %}"/>

                    <div class="content">
                        <div class="title">
                            <p>{{ chatuser.username }} {% if chatuser.second_name %}{{ chatuser.second_name }}{% endif %}</p>

                            <span>{{ message.time }}</span>
                        </div>

                        <p class="message-text">{{ message.text }}</p>
                    </div>
                </div>
                {% endwith %}
            {% endwith %}
        {% endfor %}
    </div>
</div>
