{% load static %}

<div id="{{ block.ancor }}" class="catalog">
    <div class="inner">
        <h1>{{ block.title }}</h1>
        <a style="margin-top: 0px;">{{ block.introductory_text|safe }}</a>

        <div class="products">
            {% for product in block.products %}
                {% with forloop.counter as product_id %}
                    <div class="product">
                        <img src="{{ product.cover }}" />
                        <h3 style="margin-bottom: 3px;">{{ product.name }}</h3>
                        <h3 style="margin-bottom: 3px; margin-top: 0px;"><span style="font-weight: 700;">{{ product.organization }}</span></h3>

                        <span style="margin-top: 3px; margin-bottom: 15px;">Акция до {{ product.end_promotion }}</span>

                        <span style="margin-bottom: 0px;">{{ product.annotation }}</span>
                        <span onclick="openPopup({{ product_id }})" style="margin-top: 3px;" class='how'>Как воспользоваться</span>

                        <a class="bonus" style="margin-top: 5px;">Выгода: {{ product.profit }}</a>

                        <button><a target="_blank" href="{{ product.link }}">{{ block.button_text }}</a></button>

                        <div class="popup-background">
                            <div class="description-popup">
                                <div class="title">
                                    <img onclick="closePopup({{ product_id }})" class="cross" src="{% static 'blocks/images/cross-gray.png' %}" />
                                </div>
                                <div class="text">
                                    <a>{{ product.description|safe }}</a>
                                </div>

                                <button style="position: absolute; bottom: 20px; left: 50%; transform: translateX(-50%);"><a target="_blank" href="{{ product.link }}" onclick="closePopup({{ product_id }})">{{ block.button_text }}</a></button>
                            </div>
                        </div>
                    </div>
                {% endwith %}
            {% endfor %}

            {% if block.add_exclusive %}
                <div class="product exclusive">
                    <div>
                        <img src="{{ block.exclusive_card.image.url }}" />
                        <h3 style="margin-bottom: 3px; color: rgb(250, 50, 50);">Наш эксклюзив</h3>
                    </div>

                    <span style="margin: 15px 0px;">Только для зарегистрированных пользователей сайта</span>

                    <div>
                        <a class="bonus" style="margin-top: 5px;">Бонус: {{ block.exclusive_card.bonus }}</a>
                        <button><a href="/user/register">Регистрация</a></button>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

    <script src="{% static "blocks/js/catalog.js" %}"></script>

    <style>
        #block{{id}} .catalog{
            padding-top: {{styles.margin_top}};
            padding-bottom: {{styles.margin_bottom}};
            background-color: {{styles.background_color}};
        }

        #block{{id}} .products{
            display: grid;
            grid-column-gap: 25px;
            grid-row-gap: 10px;
            grid-template-columns: {{styles.columns}};
        }

        @media screen and (max-width: 760px) {
            #block{{id}} .products{
                grid-template-columns: repeat(1, 1fr);
            }
        }
    </style>
</div>
