{% extends "admin/change_list.html" %}
{% load i18n %}
{% load admin_list %}


{% block object-tools-items %}
    {% change_list_object_tools %}
    <style>
        .object-tools{
            display: flex;
            flex-direction: row-reverse;
        }
    </style>

    <select id="chose_template"></select>

    <script>
        fetch('/templates/get')
            .then((response) => response.json())
            .then((response) => {
                let content = '';

                for (option of response){
                    content += `<option>${option.name}</option>`
                }

                document.getElementById("chose_template").innerHTML = content;
            })
    </script>
{% endblock %}
