<div id="{{ block.ancor }}" class="cover">
    <div class="inner">
        <h1>{{ block.title }}</h1>

        <a style="line-height: 140%">{{ block.text|safe }}</a>

        <div class="button-wrapper">
            <button onclick="smoothScroll('{{block.button_ref}}')"><a href="{{block.button_ref}}">{{ block.button_text }}</a></button>
            <button onclick="smoothScroll('{{block.second_button_ref}}')" id="white-button"><a>{{ block.second_button_text }}</a></button>
        </div>
    </div>
</div>

<style>
    .cover{
        background: url("{{block.image_desctop.url}}") no-repeat 50% 50%/cover;
    }

    @media screen and (max-width: 760px) {
        .cover {
            background: url("{{block.image_mobile.url}}") no-repeat 50% 50%/cover;
            height: auto;
        }

        .button-wrapper {
            flex-direction: column;
        }

        .cover .inner{
            padding: 50px 20px;
            width: calc(100% - 40px);
        }
    }
</style>
