{% load icon %}

<div class="features">
    <h1>{{block.title}}</h1>

    <a>{{block.introductory_text}}</a>

    <div class="features-container">
        {% for feature in block.features.all %}
            <div class="feature">
                <div class="icon-wrapper">
                    <div class="icon">
                        {% icon feature.icon styles.icon_color %}
                    </div>
                </div>

                <h3>{{ feature.title }}</h3>

                <p>{{ feature.description }}</p>
            </div>
        {% endfor %}
    </div>

    <button><a>{{ block.button_text }}</a></button>

    <style>
        .features-container{
            display: grid;
            gap: 10px;
            grid-template-columns: repeat({{styles.columns}}, 250px);
        }

        .features .feature .icon-wrapper{
            background-color: {{styles.icon_background_color}};
            border: 3px solid {{styles.icon_color}};
        }

        .feature svg{
            fill: {{styles.icon_color}};
        }

        @media screen and (max-width: 760px) {
            .features-container{
                gap: 0px;
                grid-template-columns: repeat(1, 1fr);
            }
        }
    </style>
</div>
