{% load icon %}

<div class="features">
    <div class="inner">
        <h1>{{block.title}}</h1>

        <a>{{block.introductory_text}}</a>

        <div class="features-container">
            {% for feature in block.features.all %}
                <div class="feature">
                    <div class="icon-wrapper">
                        <img class="icon" src="{{feature.icon.url}}" />
                    </div>

                    <span>{{ feature.description }}</span>
                </div>
            {% endfor %}
        </div>

        <style>
            #block{{id}} .features{
                padding-top: {{styles.margin_top}};
                padding-bottom: {{styles.margin_bottom}};
                background-color: {{styles.background_color}};
            }

            #block{{id}} .features-container{
                display: grid;
                grid-column-gap: 50px;
                grid-row-gap: 10px;
                grid-template-columns: {{styles.columns}};
            }

            #block{{id}} .features .feature span{
                text-align: left;
            }

            #block{{id}} .features .feature .icon-wrapper{
                background-color: {{styles.icon_background_color}};
                min-width: var(--icon-width);
                min-height: var(--icon-height);
                max-width: var(--icon-width);
                max-height: var(--icon-height);
                margin-right: 10px;
                filter: drop-shadow(2px 2px 3px rgb(180, 180, 180))
            }

            #block{{id}} .features .feature .icon-wrapper{
                background-color: {{styles.icon_background_color}};
                min-width: {{styles.icon_width}};
                min-height: {{styles.icon_height}};
                max-width: {{styles.icon_width}};
                max-height: {{styles.icon_height}};
            }

            #block{{id}} .feature svg{
                fill: {{styles.icon_color}};
            }

            #block{{id}} .feature{
                flex-direction: row;
                align-items: center;
                justify-content: center;
            }

            @media screen and (max-width: 760px) {
                #block{{id}} .features-container{
                    grid-template-columns: repeat(1, 1fr);
                }
            }
        </style>
    </div>
</div>
