{% extends "common/base.html" %}
{% load template_exist %}
{% load static %}
{% load sass_tags %}


{% block title %}
    {{ page.title }}
{% endblock %}

{% block additional_styles %}
    <link type="text/css" rel="stylesheet" href="{% sass_src 'blocks/css/text2photos.scss' %}">
    <link type="text/css" rel="stylesheet" href="{% sass_src 'blocks/css/base.scss' %}">
    <link type="text/css" rel="stylesheet" href="{% sass_src 'blocks/css/nav.scss' %}">
    <link type="text/css" rel="stylesheet" href="{% sass_src 'blocks/css/cover.scss' %}">
    <link type="text/css" rel="stylesheet" href="{% sass_src 'blocks/css/features.scss' %}">
    <link type="text/css" rel="stylesheet" href="{% sass_src 'blocks/css/register.scss' %}">
    <link type="text/css" rel="stylesheet" href="{% sass_src 'blocks/css/socialmedia.scss' %}">
    <link type="text/css" rel="stylesheet" href="{% sass_src 'blocks/css/questions.scss' %}">
    <link type="text/css" rel="stylesheet" href="{% sass_src 'blocks/css/stages.scss' %}">
    <link type="text/css" rel="stylesheet" href="{% sass_src 'blocks/css/stages.scss' %}">
    <link type="text/css" rel="stylesheet" href="{% sass_src 'blocks/css/catalog.scss' %}">
{% endblock %}

{% block content %}
    <div class="login-form-container" style="display: none">
        {% include "user/login.html" %}
    </div>

    {% for block in page.blocks %}
        {% with template_name=block.content.template.file %}
            {% template_exists template_name as exist %}
                {% if exist %}
                    {% with forloop.counter as id %}
                        <div class="block-wrapper" id="block{{id}}">
                            {% include template_name with block=block.content styles=block.styles settings=settings %}
                            {% with block.styles as styles %}
                                <style>
                                    #block{{id}} img{
                                        filter: brightness({{ styles.photo_darkness }}%);
                                    }

                                    #block{{id}}{
                                        background-color: {{styles.background_color}};
                                    }

                                    #block{{id}} h1{
                                        font-size: {{styles.header_size}};
                                        font-weight: {{styles.header_thickness}};
                                        color: {{styles.header_color}};
                                    }

                                    #block{{id}} h3{
                                        font-size: {{styles.subheader_size}};
                                        font-weight: {{styles.subheader_thickness}};
                                        color: {{styles.subheader_color}};
                                    }

                                    #block{{id}} span, #block{{id}} span p{
                                        font-size: {{styles.explanation_text_size}};
                                        font-weight: {{styles.explanation_text_thickness}};
                                        color: {{styles.explanation_text_color}};
                                    }

                                    #block{{id}} a, #block{{id}} p{
                                        font-size: {{styles.main_text_size}};
                                        font-weight: {{styles.main_text_thickness}};
                                        color: {{styles.main_text_color}};
                                    }

                                    @media screen and (max-width: 760px) {
                                        #block{{id}} h1{
                                            font-size: {{styles.header_size_mobile}};
                                            font-weight: {{styles.header_thickness_mobile}};
                                        }

                                        #block{{id}} a, #block{{id}} p{
                                            font-size: {{styles.main_text_size_mobile}};
                                            font-weight: {{styles.main_text_thickness_mobile}};
                                        }

                                        #block{{id}} span, #block{{id}} span p{
                                            font-size: {{styles.explanation_text_size_mobile}};
                                            font-weight: {{styles.explanation_text_thickness_mobile}};
                                        }

                                        #block{{id}} h3{
                                            font-size: {{styles.subheader_size_mobile}};
                                            font-weight: {{styles.subheader_thickness_mobile}};
                                        }
                                    }
                                </style>
                            {% endwith %}
                        </div>
                    {% endwith %}
                {% endif%}
        {% endwith %}
    {% endfor %}

    <script src="{% static 'blocks/js/scroll-to-anchor.js'%}"></script>
    <script src="{% static 'blocks/js/promo.js' %}"></script>
    <script src="{% static 'blocks/js/catalog.js' %}"></script>
{% endblock %}
