{% load static %}

<div id="{{ block.ancor }}" class="catalog">
    <div class="inner" style="position: relative;">
        <h1>{{ block.title }}</h1>
        <div class="swiper mySwiper" style="margin-top: 30px;">
            <div class="swiper-wrapper">
                {% for product in block.products %}
                    {% with forloop.counter as product_id %}
                        <div class="swiper-slide">
                            <div onclick="openLink('{{ request.scheme }}://{{ request.META.HTTP_HOST }}/product?product={{ product.link }}')" class="promo-product" id="product{{product_id}}">
                                <img src="{% if product.banner %}{{ product.banner.url }}{% endif %}" />
                            </div>
                        </div>
                    {% endwith %}
                {% endfor %}
            </div>
        </div>

        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", () => initSwiper({{ styles.swiper_columns }}))
    </script>

    <style>
        #block{{id}} .catalog{
            padding-top: {{styles.margin_top}};
            padding-bottom: {{styles.margin_bottom}};
            background-color: {{styles.background_color}};
        }
    </style>
</div>
