{% load static %}

<div id="{{ block.ancor }}" class="questions">
    <div class="inner">
        {% for question in block.questions.all %}
            {% with forloop.counter as id %}
            <div class="question">
                <div class="title" onclick="openQuestion({{id}})">
                    <h3>{{ question.title }}</h3>

                    <img src="{% static "blocks/images/triangle.png" %}"/>
                </div>

                <span style="display: none;">{{ question.text|safe }}</span>
            </div>
            {% endwith %}
        {% endfor %}

        <script>
            function openQuestion(id){
                const question = document.querySelectorAll(".question")[id - 1];
                question.querySelector("span").style.display = "block";

                question.querySelector(".title").removeEventListener("click", () => {
                    openQuestion(id)
                })

                question.querySelector(".title").addEventListener("click", () => {
                    closeQuestion(id)
                })
                question.querySelector("img").outerHTML = `<img src="static/blocks/images/triangle-reverse.png"/>`
            }

            function closeQuestion(id){
                const question = document.querySelectorAll(".question")[id - 1];
                question.querySelector("span").style.display = "none";

                question.querySelector(".title").removeEventListener("click", closeQuestion)

                question.querySelector(".title").addEventListener("click", () => {
                    openQuestion(id)
                })
                question.querySelector("img").outerHTML = `<img src="static/blocks/images/triangle.png"/>`
            }
        </script>

        <style>
            #block{{id}} .questions{
                background-color: {{styles.background_color}};
                width: 100%;
                padding-top: {{styles.margin_top}};
                padding-bottom: {{styles.margin_bottom}};
            }

            @media screen and (max-width: 760px) {

            }
        </style>
    </div>
</div>
