{% load static %}

<div id="{{ block.ancor }}" class="questions">
    <div class="inner">
        {% for question in block.questions.all %}
            {% with forloop.counter as id %}
            <div class="question">
                <div class="title" onclick="openQuestion({{id}})">
                    <h3>{{ question.title }}</h3>

                    <img src="{% static "blocks/images/triangle.png" %}"/>
                </div>

                <span style="display: none;">{{ question.text|safe }}</span>
            </div>
            {% endwith %}
        {% endfor %}

        <script src="{% static 'blocks/js/questions.js' %}"></script>

        <style>
            #block{{id}} .questions{
                background-color: {{styles.background_color}};
                width: 100%;
                padding-top: {{styles.margin_top}};
                padding-bottom: {{styles.margin_bottom}};
            }
        </style>
    </div>
</div>
