{% load static %}

<div id="{{ block.ancor }}" class="register">
    <div class="inner">
        <form style="display: flex;" onclick="initForm(this)" onsubmit="submitRegisterForm(this, event, '{{ domain }}')">
            <div class="field" id="username">
                <input name="username" placeholder="Ваше имя" />
                <div class="error">{{ error }}</div>
            </div>

            <div class="field" id="phone">
                <input name="phone" placeholder="+7 (495) 888-00-00" />
                <div class="error">{{ error }}</div>
            </div>

            <div class="field" id="email">
                <input name="email" placeholder="E-mail" />
                <div class="error">{{ error }}</div>
            </div>

            <input type="submit" disabled value="Регистрация" />
        </form>

        <span>{{ block.warning_text }}</span>

        <style>
            #block{{id}} form input[type=submit]{
                background-color: {{styles.button_color}};
                border: 2px solid {{styles.button_color}};
            }

            #block{{id}} .register{
                background-color: {{styles.background_color}};
                padding-top: {{styles.margin_top}};
                padding-bottom: {{styles.margin_bottom}};
            }

            #block{{id}} .register form input{
                font-size: {{styles.main_text_size}};
                font-weight: {{styles.main_text_thickness}};
                color: {{styles.main_text_color}};
            }

            .register form input::-webkit-input-placeholder{
                font-size: {{styles.main_text_size}};
                font-weight: {{styles.main_text_thickness}};
            }

            .register form input[type=submit]{
                font-size: {{styles.main_text_size}};
                font-weight: {{styles.main_text_thickness}};
            }

            @media screen and (max-width: 760px) {

            }
        </style>
    </div>

    <script src="{% static 'blocks/js/register.js' %}"></script>
    <script src="{% static 'user/js/submit_register_form.js' %}"></script>
</div>
