<div id="{{ block.ancor }}" class="content">
    <div class="inner">
        <div class="right-text">
            <h1 class="title">{{ block.title }}</h1>

            <a style="line-height: 140%">{{ block.body|safe }}</a>
            <button onclick="smoothScroll('{{block.button_ref}}')"><a>{{ block.button_text }}</a></button>
        </div>

        <div class="left-block">
            <div class="images-container">
                <div style="width: 60%; position: absolute; right: 0px; z-index: 1;" class="image-wrapper">
                    <img src="{{ block.image1.url }}">
                </div>

                <div style="position: absolute; width: 85%; bottom: 0px;" class="image-wrapper">
                    <img src="{{ block.image2.url }}">
                </div>
            </div>
        </div>
    </div>
    <style>
        #block{{id}} .content{
            padding-top: {{styles.margin_top}};
            padding-bottom: {{styles.margin_bottom}};
        }

        #block{{id}} .content .image-wrapper{
            overflow: hidden;
            border-radius: {{styles.border_radius}};
        }

        @media screen and (max-width: 760px) {
            #block{{id}} .content .inner{
                flex-direction: column;
                justify-content: start;
                width: calc(100% - 40px);
            }

            #block{{id}} .content .right-text{
                flex: none;
                align-items: center;
                display: flex;
                flex-direction: column;
            }
        }
    </style>
</div>
