.aboutcompany{
    .text{
        max-height: 460px!important;
        padding: 20px;
        padding-top: 0px;
        border-top: none;
    }

    .title{
        background: var(--main-color);
        padding: 0px 20px;
        border-radius: 10px 10px 0px 0px;

        .cross{
            filter: brightness(100);
        }
    }

    .popup{
        padding: 0px;
        border: none;
    }
}

.document-popup{
    .text *{
        font-family: var(--main-text-font-family);
        font-size: var(--service-font-size);

        li{
            margin: 8px 0px;
        }
    }

    .description-popup{
        height: auto!important;
    }
}
