{% load static %}

<form onsubmit="submitRegisterForm(this, event, '{{ domain }}')" autocomplete="off" method="post" id="register-form" class="user-form">
    <img class="logo" src="{{ settings.form_logo.image }}" />

    <h3>Регистрация</h3>

    {% csrf_token %}
    {% for field in register_form %}
        <div class="field" id="{{ field.name }}">
            {{ field }}
            {% for error in field.errors %}
                <div class="error">{{ error }}</div>
            {% endfor %}
        </div>
    {% endfor %}
    <input type="submit" disabled value="Зарегистрироваться" />

    <label class="agreed-container">Я прочитал(а) и принимаю Пользовательское соглашение и Политику Конфденциальности
        <input type="checkbox">
        <span class="checkmark"></span>
    </label>

    <p class="already-register">Уже зарегистрированы?</p>
    <a onclick="openFormPopup(loginFormContainer)" class="login" style="cursor: pointer;">Войти в кабинет</a>
</form>

<style>
    .logo{
        width: {{settings.form_logo.width}};
        height: {{settings.form_logo.height}};
    }
</style>

<script src="{% static "user/js/register_form.js" %}"></script>
<script src="{% static 'user/js/submit_register_form.js' %}"></script>
