{% load static %}

<form onsubmit="submitResetPasswordForm(this, event)" method="post" autocomplete="off" class="user-form reset-password-form">
    <h3>Восстановление пароля</h3>

    {% csrf_token %}
    {% for field in reset_password_form %}
        <div class="field" id="{{ field.name }}">
            {{ field }}
            <div class="error"></div>
            {% for error in field.errors %}
                <div class="error">{{ error }}</div>
            {% endfor %}
        </div>
    {% endfor %}

    <a class="message"></a>
    <input disabled type="submit" value="Восстановить" />
</form>

<script src="{% static "user/js/token.js" %}"></script>
<script src="{% static "user/js/reset_password_form.js" %}"></script>

<style>
    .user-form input{
        width: 100%;
    }

    .user-form span{
        font-size: 12px;
        font-weight: 400;
        margin-top: 15px;
    }
</style>
