.block-wrapper{
    display: flex;
    justify-content: center;
    width: 100%;
}

.inner{
    width: calc(100% - 180px);
}

@keyframes showPopup {
    0%{
        opacity: 0;
        background: rgba(0, 0, 0, 0);
    }

    100%{
        opacity: 1;
        background: rgba(0, 0, 0, 0.3);
    }
}

@media screen and (max-width: 760px) {
    .inner{
        width: calc(100% - 40px);
        padding: 0px 20px;
    }
}
