{% load static %}
{% load replace %}

<div class="popup-background document-popup">
    <div class="description-popup popup">
        <div class="title">
            <h3>{{ document.name }}</h3>
            <img onclick="closeDocumentPopup()" class="cross" src="{% static 'blocks/images/cross-gray.png' %}" />
        </div>

        <div class="text">
            <a>
                {% replace document.text '[SITENAME]' site.name as text %}
                {% replace text '[SITEADRESS]' site.adress as text %}
                {% replace text '[SITECREATED]' site.created_at|date:"d.m.Y" as text %}
                {% replace text '[SITEOWNER]' site.owner as text %}
                {% replace text '[SITECONTACTINFO]' site.contact_info as text %}
                {{ text|safe }}
            </a>
        </div>
    </div>
</div>
