{% load static %}
{% load replace %}

<div class="feedback-form-container form-container" style="display: none">
    {% include "common/feedback_form.html" %}
</div>

<footer id="{{ block.ancor }}">
    <div class="inner">
        <div class="menu">
            {% for item in block.menu_items.all %}
                <a onclick="smoothScroll('{{ item.button_ref }}')">{{ item.button_text }}</a>
            {% endfor %}

            <a onclick="openFormPopup(feedbackFormContainer)">Связаться с нами</a>
        </div>

        {% replace '<a class="ref" onclick="openDocumentPopup([PRIVACY.SLUG])">[PRIVACY.TITLE]</a>' '[PRIVACY.SLUG]' "'[PRIVACY.SLUG]'" as privacy_text %}{% replace privacy_text '[PRIVACY.SLUG]' privacy.slug as privacy_text %}{% replace privacy_text '[PRIVACY.TITLE]' privacy.title as privacy_text %}
        {% replace '<a class="ref" onclick="openDocumentPopup([TERMS.SLUG])">[TERMS.TITLE]</a>' '[TERMS.SLUG]' "'[TERMS.SLUG]'" as terms_text %}{% replace terms_text '[TERMS.SLUG]' terms.slug as terms_text %}{% replace terms_text '[TERMS.TITLE]' terms.title as terms_text %}
        {% with text=block.text1 %}{% replace text '[YEAR]' year as text %}{% replace text '[TERMS]' terms_text as text %}{% replace text '[PRIVACY]' privacy_text as text %}{% replace text '[SITEDOMAIN]' request.get_host as text %}{% replace text '[SITENAME]' request.site_name as text %}{{ text|safe }}{% endwith %}
        {% with text=block.text2 %}{% replace text '[TERMS]' terms_text as text %}{% replace text '[PRIVACY]' privacy_text as text %}{% replace text '[SITEDOMAIN]' request.get_host as text %}{% replace text '[SITENAME]' request.site_name as text %}{{ text|safe }}{% endwith %}
        {% with text=block.text3 %}{% replace text '[TERMS]' terms_text as text %}{% replace text '[PRIVACY]' privacy_text as text %}{% replace text '[SITEDOMAIN]' request.get_host as text %}{% replace text '[SITENAME]' request.site_name as text %}{{ text|safe }}{% endwith %}
    </div>

    <style>
        footer{
            background-color: {{styles.background_color}};
            padding-top: {{styles.margin_top}};
            padding-bottom: {{styles.margin_bottom}};
        }
    </style>
</header>

<script src="{% static 'blocks/js/footer.js' %}" ></script>
