{% load static %}

<div id="{{ block.ancor }}" class="catalog">
    <div class="inner">
        <div class="products">
            {% for product in block.products %}
                {% with forloop.counter as product_id %}
                    <div onclick="location.href='{{ request.scheme }}://{{ request.META.HTTP_HOST }}/{{ product.slug }}'" id="product{{product_id}}" class="additional-product" style="text-align: center;">
                        <h1 style="margin-bottom: 3px;">{{ product.title }}</h1>

                        {% if block.add_annotation %}
                            <span style="margin-bottom: 0px;">{{ product.description|safe }}</span>
                        {% endif %}

                        {% if block.add_button %}
                            <button onclick="location.href='{{ request.scheme }}://{{ request.META.HTTP_HOST }}/{{ product.slug }}'"><a>{{ block.button_text }}</a></button>
                        {% endif %}
                    </div>
                    <style>
                        #block{{id}} #product{{product_id}}{
                            background: linear-gradient(to bottom, rgba(0,0,0,0) {{styles.darkness_bottom}}%, rgba(0,0,0,1)), url("{{product.image.url}}") no-repeat 50% 50%/cover;
                        }
                    </style>
                {% endwith %}
            {% endfor %}
        </div>
    </div>

    <style>
        #block{{id}} .catalog{
            padding-top: {{styles.margin_top}};
            padding-bottom: {{styles.margin_bottom}};
            background-color: {{styles.background_color}};
        }

        #block{{id}} .products{
            display: flex;
            flex-wrap: wrap;
            grid-column-gap: 25px;
            grid-row-gap: 10px;
        }

        #block{{id}} .additional-product{
            flex-basis: calc({{styles.column_width}}% - 65px);
        }

        @media screen and (max-width: 760px) {
            #block{{id}} .additional-product{
                flex-basis: 100%;
            }
        }
    </style>
</div>
