{% load static %}

<div id="{{ block.ancor }}" class="catalog">
    <div class="inner">
        <h1>{{ block.title }}</h1>
        <a style="margin-top: 0px;">{{ block.introductory_text|safe }}</a>

        <div class="products" style="margin-top: 30px;">
            {% for product in block.products %}
                {% with forloop.counter as product_id %}
                    <div class="product-main-page">
                        <div class="product-content">
                            <img src="{{ product.image.url }}" />
                            <h1>{{ product.title }}</h1>

                            <span style="margin-bottom: 0px;">{{ product.description|safe }}</span>
                        </div>

                        <button onclick="location.href='{{ request.scheme }}://{{ request.META.HTTP_HOST }}/{{ product.slug }}'" ><a>{{ block.button_text }}</a></button>
                    </div>
                {% endwith %}
            {% endfor %}
        </div>
    </div>

    <style>
        #block{{id}} .catalog{
            padding-top: {{styles.margin_top}};
            padding-bottom: {{styles.margin_bottom}};
            background-color: {{styles.background_color}};
        }

        #block{{id}} .products{
            display: flex;
            flex-wrap: wrap;
            grid-column-gap: 25px;
            grid-row-gap: 35px;
        }

        #block{{id}} .product-main-page{
            flex-basis: calc({{styles.column_width}}% - 65px);
        }

        @media screen and (max-width: 760px) {
            #block{{id}} .product-main-page{
                flex-basis: 100%;
            }
        }
    </style>
</div>
