{% extends "emails/base.html" %}

{% block content %}

<p style="margin: 25px 0px;"><strong>Добро пожаловать в BankoMag!</strong></p>

<p style="width: 600px; margin-top: 0px; padding-bottom: 25px;">Вы запросили замену email адреса на сайте <a href="bankomag.ru">BankoMag.ru</a>. Чтобы подтвердить операцию нажмите кнопку:</p>

<a style="background-color: {{ main_color }};
    border-radius: 5px;
    border: none;
    padding: 15px 20px;
    margin: 25px 0px;
    cursor: pointer;
    text-decoration: none;
    color: white;" href="{{ link }}">ПОДТВЕРДИТЬ</a>

<p style="margin-bottom: 5px; padding-top: 25px;">или скопируйте и вставьте в браузере эту ссылку:</p>
<a style="margin: 0px; width: 600px;" href="{{ link }}">{{ link }}</a>

{% endblock %}
