{% extends "emails/base.html" %}

{% block content %}

<p style="margin: 25px 0px;"><strong>Здравствуйте, {{ user.username }}</strong></p>

<p style="width: 370px; margin-top: 0px; padding-bottom: 25px;">Вы запросили восстановление пароля на сайте BankoMag.ru.</p>
<p style="width: 370px; margin-top: 0px; padding-bottom: 25px;">Чтобы установить новый пароль нажмите на кнопку:</p>

<a style="background-color: {{ main_color }};
    border-radius: 5px;
    border: none;
    padding: 15px 20px;
    margin: 25px 0px;
    cursor: pointer;
    text-decoration: none;
    color: white;" href="{{ link }}">УСТАНОВИТЬ</a>

<p style="margin-bottom: 5px; padding-top: 25px;">или скопируйте и вставьте в браузере эту ссылку:</p>
<a style="margin: 0px; width: 350px;" href="{{ link }}">{{ link }}</a>

{% endblock %}
