aside{
    width: 250px;
    height: 100%;
    background-color: wheat;
}

header{
    background-color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--header-inverted-color);
    width: 100%;
    position: relative;
}

header .inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: calc(100% - 80px);
}

.profile-content{
    display: flex;
    width: 100%;
    height: 100%;
}

main{
    display: flex;
    justify-content: center;
    width: 100%;
}

header .inner .logout{
    color: white;
    cursor: pointer;
}
