{% load static %}

<form class="change-password-form form" onsubmit="onSubmitChangePasswordForm(this, event)">
    <div class="title">
        <h3>Новый пароль</h3>

        <div class="cross">
            <img onclick="closeForm(changePasswordForm)" src="{% static 'common/images/cross.png' %}" />
        </div>
    </div>

    <hr />

    <div class="content">
        <div class="field-container">
            <div class="field" id="current_password">
                <p style="margin-top: 0px;">текущий пароль</p>
                <input name="current_password" />
            </div>
        </div>

        <div class="field-container">
            <div class="field" id="password">
                <p>новый пароль</p>
                <input name="password" />
            </div>
        </div>

        <div class="field-container">
            <div class="field" id="repeat_password">
                <p>повторите пароль</p>
                <input name="repeat_password" />
            </div>
        </div>
    </div>

    <hr />

    <div class="bottom">
        <div class="field-container">
            <button><a>Сохранить</a></button>
        </div>
    </div>
</form>
