{% load static %}

<form class="change-password-form form" onsubmit="onSubmitChangePasswordForm('{{ domain }}', this, event)">
    <div class="title">
        <h3>Изменение пароля</h3>

        <div class="cross">
            <img onclick="closeForm(changePasswordForm)" src="{% static 'common/images/cross.png' %}" />
        </div>
    </div>

    <hr />

    <div class="content">
        <div class="field-container">
            <div class="field" id="current_password">
                <p style="margin-top: 0px;">Текущий пароль</p>

                <div class="password">
                    <input type="password" default="" name="current_password" />
                    <img type="password" class="eye" src="{% static 'user/images/eye-cross.png' %}" />
                </div>
            </div>
        </div>

        <div class="field-container">
            <div class="field" id="password">
                <p>Новый пароль</p>

                <div class="password">
                    <input type="password" default="" name="password" />
                    <img type="password" class="eye" src="{% static 'user/images/eye-cross.png' %}" />
                </div>
            </div>
        </div>

        <div class="field-container">
            <div class="field" id="repeat_password">
                <p>Повторите пароль</p>

                <div class="password">
                    <input type="password" default="" name="repeat_password" />
                    <img type="password" class="eye" src="{% static 'user/images/eye-cross.png' %}" />
                </div>
            </div>
        </div>
    </div>

    <hr />

    <div class="bottom">
        <div class="field-container">
            <button><a>Сохранить</a></button>
        </div>
    </div>
</form>
