{% extends "admin/change_form.html" %}

{% block extrahead %}
    {{ block.super }}
    <style>
        /* Стили для попапа */
        #imagePopup {
            display: none;
            position: fixed;
            z-index: 1000;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.8);
        }
        #popupImage {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            max-width: 600px;
        }
    </style>
{% endblock %}

{% block footer %}
    {{ block.super }}
    <div id="imagePopup" onclick="closeImagePopup()">
        <img id="popupImage" src="" alt="Image" />
    </div>
    <script>
        function openImagePopup(imageUrl) {
            document.getElementById('popupImage').src = imageUrl;
            document.getElementById('imagePopup').style.display = 'block';
        }

        function closeImagePopup() {
            document.getElementById('imagePopup').style.display = 'none';
        }

        document.querySelectorAll('.open-image-popup').forEach(item => {
            item.addEventListener('click', event => {
                event.preventDefault();
                openImagePopup(item.dataset.image);
            });
        });
    </script>
{% endblock %}
