{% load static %}
{% load qr_code %}
{% load sass_tags %}
{% load range %}


<div class="site-container" style="margin-bottom: 15px; align-items: end; margin-top: 10px;">
    <h1 style="margin-bottom: 0px;">Замечания и предложения</h1>
    <button onclick="openIdeaForm()" class="title-button" id="open-idea-form"><a>Предложить</a></button>
</div>

<hr />

{% if ideas %}

<div class="selects">
    <div>
        <select name="category" id="category">
            <option value="" {% if request.GET.category == "" %}selected{% endif %}>Все предложения</option>
            <option value="errors" {% if request.GET.category == "errors" %}selected{% endif %}>Ошибки в работе</option>
            <option value="correction" {% if request.GET.category == "correction" %}selected{% endif %}>Исправления</option>
            <option value="modernization" {% if request.GET.category == "modernization" %}selected{% endif %}>Улучшения</option>
            <option value="modernization" {% if request.GET.category == "new_feature" %}selected{% endif %}>Новые возможности</option>
            <option value="my" {% if request.GET.category == "my" %}selected{% endif %}>Мои предложения</option>
        </select>

        <select name="status" id="status">
            <option value=""{% if request.GET.status == "" %}selected{% endif %}>Все предложения</option>
            <option value="new"{% if request.GET.status == "new" %}selected{% endif %}>Новые</option>
            <option value="in_progress"{% if request.GET.status == "in_progress" %}selected{% endif %}>В работе</option>
            <option value="planned"{% if request.GET.status == "planned" %}selected{% endif %}>Запланированы</option>
            <option value="realized"{% if request.GET.status == "realized" %}selected{% endif %}>Реализованы</option>
            <option value="reject"{% if request.GET.status == "reject" %}selected{% endif %}>Отклонены</option>
            <option value="repeat"{% if request.GET.status == "repeat" %}selected{% endif %}>Повторы</option>
        </select>
    </div>
</div>

<table>
    <thead>
        <tr>
            <th><div style="color: transparent;">111</div></th>
            <th><div>Дата</div></th>
            <th><div>Тема</div></th>
            <th><div>Автор</div></th>
            <th><div>Статус</div></th>
            <th><div>Ожидается</div></th>
            <th><div style="text-align: right;">Поддержали</div></th>
        </tr>
    </thead>

    <tbody>
        {% for idea in ideas %}
            <tr>
                <td style="width: 50px;" class="status">
                    {% if idea.category == "errors" %}
                        <img src="{% static 'account/images/bugs/icobug_error.png' %}" />
                    {% elif idea.category == "correction" %}
                        <img src="{% static 'account/images/bugs/icobug_fix.png' %}" />
                    {% elif idea.category == "modernization" %}
                        <img src="{% static 'account/images/bugs/icobug_addon.png' %}" />
                    {% elif idea.category == "new_feature" %}
                        <img src="{% static 'account/images/bugs/icobug_idea.png' %}" />
                    {% endif %}
                </td>

                <td style="width: 120px;">{{ idea.created_at }}</td>
                <td>
                    <p>
                        {{ idea.title }}
                    </p>

                    <div>
                        <p onclick="openIdeaDescription(this)" class="description hidden">
                            {{ idea.description }}
                        </p>
                    </div>
                </td>

                <td style="width: 120px;">{{ idea.user }}</td>
                <td style="width: 120px;">{{ idea.status }}</td>
                <td style="width: 120px;">{{ idea.finishe_date }}</td>

                <td style="width: 120px;">
                    <div class="like">
                        {% if idea.liked %}
                            <img onclick="addLike(this, {{idea.id}})" src="{% static 'account/images/bugs/icobug_yes.png' %}" />
                        {% else %}
                            <img onclick="addLike(this, {{idea.id}})" src="{% static 'account/images/bugs/icobug_vote.png' %}" />
                        {% endif %}
                        <span>{{ idea.likes }}</span>
                    </div>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<hr />

<div class="pagination">
    <div style="display: flex; gap: 50px;">
        <p class="pagination-count">Всего продуктов: <a>{{ count }}</a></p>
        <div class="pages">
        {% if total_pages > 1 %}
            <a {% if current_page == 1 %}class="active"{% endif %} onclick="loadUserProducts(1)">1</a>
            {% if current_page > 4 %}
                ...
            {% endif %}

            {% if current_page == 1 %}
                {% for num in total_pages|create_range %}
                    {% if current_page < num and num < current_page|add:"3" %}
                        {% if num > 1 and num != total_pages %}
                            <a {% if num == total_pages %}class="active"{% endif %} onclick="loadUserProducts({{ num }})">{{ num }}</a>
                        {% endif %}
                    {% endif %}
                    {% endfor %}

                    {% elif current_page == total_pages %}
                    {% for num in total_pages|create_range %}
                    {% if current_page|add:"-3" < num and num < current_page %}
                    {% if num != total_pages and num > 1 %}
                    <a {% if num == total_pages %}class="active"{% endif %} onclick="loadUserProducts({{ num }})">{{ num }}</a>
                    {% endif %}
                    {% endif %}
                {% endfor %}

            {% else %}
                {% for num in total_pages|create_range %}
                    {% if current_page|add:"-2" < num and num < current_page|add:"2" %}
                        {% if num > 1 and num != total_pages %}
                            <a {% if num == current_page %}class="active"{% endif %} onclick="loadUserProducts({{ num }}, {{ total_pages }})">{{ num }}</a>
                        {% endif %}
                    {% endif %}
                {% endfor %}

            {% endif %}

            {% if current_page < total_pages|add:"-3" %}
            ...
            {% endif %}

            <a {% if current_page == total_pages %}class="active"{% endif %} onclick="loadUserProducts({{ total_pages }}, {{ total_pages }})">{{ total_pages }}</a>
            {% endif %}
        </div>
    </div>

    <select name="page_size" id="page_size" class="no-border">
        <option value="10" selected>10 на странице</option>
        <option value="25">25 на странице</option>
        <option value="50">50 на странице</option>
        <option value="100">100 на странице</option>
    </select>
</div>

{% else %}
<h3 class="no-products">Предложений пока нет</h3>
{% endif %}

<form class="form create-idea-form">

</form>
