{% load static %}
{% load qr_code %}
{% load sass_tags %}


<div class="site-container" style="margin-bottom: 15px; align-items: end; margin-top: 10px;">
    <h1 style="margin-bottom: 0px;">Замечания и предложения</h1>
    <button onclick="openIdeaForm()" class="title-button" id="open-idea-form"><a>Предложить</a></button>
</div>

<hr />

{% if ideas %}

<div class="selects">
    <div>
        <select name="category" id="category">
            <option value="" {% if request.GET.category == "" %}selected{% endif %}>Все предложения</option>
            <option value="errors" {% if request.GET.category == "errors" %}selected{% endif %}>Ошибки в работе</option>
            <option value="correction" {% if request.GET.category == "correction" %}selected{% endif %}>Исправления</option>
            <option value="modernization" {% if request.GET.category == "modernization" %}selected{% endif %}>Улучшения</option>
            <option value="modernization" {% if request.GET.category == "new_feature" %}selected{% endif %}>Новые возможности</option>
            <option value="my" {% if request.GET.category == "my" %}selected{% endif %}>Мои предложения</option>
        </select>

        <select name="status" id="status">
            <option value=""{% if request.GET.status == "" %}selected{% endif %}>Все статусы</option>
            <option value="new"{% if request.GET.status == "new" %}selected{% endif %}>Новые</option>
            <option value="in_progress"{% if request.GET.status == "in_progress" %}selected{% endif %}>В работе</option>
            <option value="planned"{% if request.GET.status == "planned" %}selected{% endif %}>Запланированы</option>
            <option value="realized"{% if request.GET.status == "realized" %}selected{% endif %}>Реализованы</option>
            <option value="reject"{% if request.GET.status == "reject" %}selected{% endif %}>Отклонены</option>
            <option value="repeat"{% if request.GET.status == "repeat" %}selected{% endif %}>Повторы</option>
        </select>
    </div>

    <select name="sort_by" id="sort_by" class="no-border">
        <option value="-created_at" {% if request.GET.sorted_by == "-created_at" %}selected{% endif %}>По дате публикации</option>
        <option value="finishe_date" {% if request.GET.sorted_by == "finishe_date" %}selected{% endif %}>По дате реализации</option>
        <option value="-likes_count" {% if request.GET.sorted_by == "-likes_count" %}selected{% endif %}>По числу голосов</option>
    </select>
</div>

<table class="ideas">
    <thead>
        <tr>
            <th><div style="color: transparent;">.</div></th>
            <th><div>Дата</div></th>
            <th><div>Тема</div></th>
            <th><div>Автор</div></th>
            <th>
                <div>
                    <div class="fields-title">
                        Статус

                        {% include "common/context_help.html" with text="Новое: Еще не рассмотрено администрацией<br /> В работе: Идет реализация<br />Запланировано: Поставлено в очередь, но работа еще не начата<br />Реализовано: Успешно внедрено<br />Отклонено: Не принято, причина в комментарии к предложению<br />Повтор: Такое предложение уже было<br />" %}
                    </div>
                </div>
            </th>
            <th>
                <div>
                    <div class="fields-title">
                        Срок

                        {% include "common/context_help.html" with text="Дата выполненной или ожидаемой реализации предложения" %}
                    </div>
                </div>
            </th>
            <th>
                <div>
                    <div class="fields-title" style="justify-content: flex-end;">
                        Рейтинг

                        {% include "common/context_help.html" with text="Число пользователей, поддержавших предложение" %}
                    </div>
                </div>
            </th>
        </tr>
    </thead>

    <tbody>
        {% for idea in ideas %}
            <tr style="border-bottom: 1px solid var(--dark-color);">
                <td style="width: 50px;" class="status">
                    {% if idea.category == "errors" %}
                        <img src="{% static 'account/images/bugs/icobug_error.png' %}" />
                    {% elif idea.category == "correction" %}
                        <img src="{% static 'account/images/bugs/icobug_fix.png' %}" />
                    {% elif idea.category == "modernization" %}
                        <img src="{% static 'account/images/bugs/icobug_addon.png' %}" />
                    {% elif idea.category == "new_feature" %}
                        <img src="{% static 'account/images/bugs/icobug_idea.png' %}" />
                    {% endif %}
                </td>

                <td style="width: 80px;">{{ idea.created_at }}</td>
                <td>
                    <p class="change-idea">
                        <span>
                            {{ idea.title }}
                        </span>

                        {% if idea.status == "Новое" %}
                            {% if idea.user == user %}
                                <img title="Настройка" onclick="openUpdateIdeaForm({{ idea.id }})" src="{% static 'account/images/icoint_edit.png' %}" />
                            {% endif %}
                        {% endif %}
                    </p>

                    <div>
                        <p onclick="openIdeaDescription(this)" class="description hidden">
                            {{ idea.description }}
                        </p>
                    </div>
                </td>

                <td style="width: 140px;">{{ idea.user }}</td>
                <td style="width: 120px;">{{ idea.status }}</td>
                <td style="width: 120px;">{{ idea.finishe_date }}</td>

                <td style="width: 120px;">
                    <div class="like">
                        {% if idea.liked %}
                            <img onclick="addLike(this, {{idea.id}})" src="{% static 'account/images/bugs/icobug_yes.png' %}" />
                        {% else %}
                            <img onclick="addLike(this, {{idea.id}})" src="{% static 'account/images/bugs/icobug_vote.png' %}" />
                        {% endif %}
                        <span>{{ idea.likes_count }}</span>
                    </div>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<hr />

{% include "common/pagination.html" with title="Всего предложений" paginateFunc="loadUserProducts" %}

{% else %}
<h3 class="no-products">Предложений пока нет</h3>
{% endif %}

<form class="form create-idea-form">

</form>
