{% load static %}
{% load qr_code %}
{% load sass_tags %}


<div class="site-container" style="margin-bottom: 15px; align-items: end; margin-top: 10px;">
    <h1 style="margin-bottom: 0px;">Мои рефералы</h1>
</div>

<hr />

<div class="selects">
    <div>
        <select name="level" id="level">
            <option value="" {% if request.GET.level == "" %}selected{% endif %}>Все уровни</option>
            <option value="1" {% if request.GET.level == "1" %}selected{% endif %}>Уровень 1</option>
            <option value="2" {% if request.GET.level == "2" %}selected{% endif %}>Уровень 2</option>
            <option value="3" {% if request.GET.level == "3" %}selected{% endif %}>Уровень 3</option>
        </select>

        <select name="" id="">
            <option value="">Все рефералы</option>
            <option value="days=7">Новые за 7 дней</option>
        </select>
    </div>

    <select name="sort_by" id="sort_by" class="no-border">
        <option value="created_at" {% if request.GET.sorted_by == "created_at" %}selected{% endif %}>Дата регистрации</option>
        <option value="username" {% if request.GET.sorted_by == "username" %}selected{% endif %}>Имя пользователя</option>
        <option value="-first_level_referrals" {% if request.GET.sorted_by == "-first_level_referrals" %}selected{% endif %}>Рефералы</option>
    </select>
</div>

<table>
    <thead>
        <tr>
            <th><div>Реферал</div></th>
            <th><div>Дата</div></th>
            <th><div>Уровень</div></th>
            <th><div>Канал</div></th>
            <th><div>Рефералы</div></th>
            <th><div>Переходы</div></th>
            <th style="width: 100px; text-align: right;"><div>Сообщения</div></th>
            <th class="settings"><div><img src="{% static 'account/images/settings.png' %}" /></div></th>
        </tr>
    </thead>

    <tbody>
        {% for referral in referrals %}
            <tr>
                <td class="ref" onclick="getReferralPopup({{ referral.id }})">
                    <div class="logo br50 b1dc">
                        <img src="{% if referral.profile_picture %}{{ referral.profile_picture }}{% else %}{% static 'account/images/nophoto.jpg' %}{% endif %}" />
                    </div>

                    <p>{{ referral.username }} {% if referral.second_name %}{{ referral.second_name }}{% endif %}</p>
                </td>

                <td>{{ referral.created_at }}</td>
                <td>{{ referral.level }}</td>
                <td>{{ referral.channel }}</td>
                <td>{{ referral.referrals }}</td>
                <td>{{ referral.redirections }}</td>
                <td class="message"><img {% if referral.level != 1 %}class="inactive"{% endif %} src="{% static 'account/images/my_msg.png' %}" /></td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<hr />

{% include "common/pagination.html" with title="Всего рефералов" paginateFunc="loadPagination" %}

<div class="form ref-popup">

</div>

<script>
    initRefsContent();
</script>
