{% extends "user/base.html" %}
{% load static %}

{% block additional_styles %}
    <link rel="stylesheet" href="{% static 'user/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'user/css/profile.css' %}">
{% endblock %}

{% block content %}

<header>
    <div class="inner">
        <img onclick="location.href='/partners'" class="logo"/>

        <a class="logout" >Выйти из аккаунта</a>
    </div>
</header>

<div class="profile-content">
    <aside>

    </aside>

    {% block profile-content %}

    {% endblock %}
</div>

<style>
    header .logo{
        content: url("{{settings.logo.image}}");
        height: {{settings.logo.height}};
        width: {{settings.logo.width}};
    }

    @media (pointer:none), (pointer:coarse) {
        header .logo{
            height: {{settings.logo.height_mobile}};
            width: {{settings.logo.width_mobile}};
        }
    }
</style>

{% endblock %}

{% block additional_scripts %}
<script>
    function logout(){
        deleteToken();
        window.location.replace("/user/logout");
        fetch("/user/logout")
    }

    const logoutElem = document.querySelector("header .inner .logout");
    logoutElem.addEventListener("click", logout)
</script>
{% endblock %}
