{% extends "user/base.html" %}
{% load static %}

{% block content %}

<form onsubmit="getForm(this, event)" method="post" class="user-form" id="login-form">
    <img class="logo" src="{{ settings.form_logo.image }}" />

    <h3>Вход в кабинет</h3>

    {% csrf_token %}
    {% for field in form %}
        <div class="field" id="{{ field.name }}">
            <div class="field-container">
                {{ field }}

                {% if field.name == "password" %}
                    <img class="eye" src="{% static 'user/images/eye-cross.png' %}" />
                {% endif %}

                {% for error in field.errors %}
                    <div class="error">{{ error }}</div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
    <input type="submit" value="Войти в кабинет" />

    <div class="bottom-menu">
        <label class="agreed-container">Запомнить меня
            <input type="checkbox">
            <span class="checkmark"></span>
        </label>

        <a href="/user/reset-password" class="forget-password">Забыли пароль?</a>
    </div>

    <p class="already-register">Ещё не зарегистрированы?</p>
    <a href="/user/register" class="login">Создать кабинет</a>
</form>

<style>
    .logo{
        width: {{settings.form_logo.width}};
        height: {{settings.form_logo.height}};
    }
</style>
{% endblock %}


{% block additional_scripts %}
<script src="{% static "user/js/login_form.js" %}"></script>

<script>
    function getForm(element, event){
        event.preventDefault();
        const form = document.querySelector(".user-form")
        const data = new FormData(form);

        fetch("/user/login", {
            method: "post",
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/x-www-form-urlencoded',
            },
            body: JSON.stringify({
                "csrfmiddlewaretoken": data.get("csrfmiddlewaretoken"),
                "phone_or_email": data.get("phone_or_email"),
                "password": data.get("password")
            })
        }).then(response => {
            if (response.status === 200){
                response.json().then((response) => {
                    const token = response.acess_token;
                    setToken(token);

                    if (isAgreeToRememberMe()){
                        rememberMe();
                        rememberUserInfo(data.get("phone_or_email"), data.get("password"));
                    }

                    window.location.replace("/user/profile");
                })
            }
            return response.json();
        }).then(response => {
            const errors = response.errors;
            setError(element.querySelector(`#password`), "")
            setError(element.querySelector(`#phone_or_email`), "")
            for (let field of Object.keys(errors)) {
                setError(element.querySelector(`#${field}`), errors[field][0]);
            }
        })
    }
</script>
{% endblock %}
