{% extends "user/base.html" %}
{% load static %}


{% block title %}
    Регистрация
{% endblock %}

{% block additional_styles %}
    <link rel="stylesheet" href="{% static 'user/css/main.css' %}">
{% endblock %}


{% block content %}

<form onsubmit="getForm(event)" method="post" class="user-form">
    <img class="logo" src="{{ settings.form_logo.image }}" />

    <h3>Регистрация</h3>

    {% csrf_token %}
    {% for field in form %}
        <div class="field" id="{{ field.name }}">
            {{ field }}
            {% for error in field.errors %}
                <div class="error">{{ error }}</div>
            {% endfor %}
        </div>
    {% endfor %}
    <input type="submit" disabled value="Зарегистрироваться" />

    <label class="agreed-container">Я прочитал(а) и принимаю Пользовательское соглашение и Политику Конфденциальности
        <input type="checkbox">
        <span class="checkmark"></span>
    </label>

    <p class="already-register">Уже зарегистрированы?</p>
    <a href="/user/login" class="login">Войти в кабинет</a>
</form>

<style>
    .logo{
        width: {{settings.form_logo.width}};
        height: {{settings.form_logo.height}};
    }
</style>
{% endblock %}

{% block additional_scripts %}
<script src="{% static "user/js/register_form.js" %}"></script>

<script>
    function getForm(event){
        event.preventDefault();
        const form = document.querySelector(".user-form")
        const data = new FormData(form);

        fetch("/user/register", {
            method: "post",
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/x-www-form-urlencoded',
            },
            body: JSON.stringify({
                "csrfmiddlewaretoken": data.get("csrfmiddlewaretoken"),
                "phone": data.get("phone"),
                "email": data.get("email"),
                "username": data.get("username")
            })
        }).then(response => {
            if (response.status === 200){
                response.json().then((response) => {
                    const token_to_set_password = response.token_to_set_password;
                    console.log(token_to_set_password);
                    window.location.replace(`/user/password/${token_to_set_password}`)
                })
            }
            return response.json();
        }).then(response => {
            const errors = response.errors;
            setError("username", "")
            setError("email", "")
            setError("phone", "")
            console.log(errors);
            for (let field of Object.keys(errors)) {
                console.log(field, errors[field]);
                setError(field, errors[field][0]);
            }
        })
    }
</script>
{% endblock %}
