{% extends "user/base.html" %}
{% load static %}

{% block title %}
    Сброс пароль
{% endblock %}

{% block content %}

<form onsubmit="getForm(this, event)" method="post" class="user-form" style="height: 200px;">
    <h3>Сбросить пароль</h3>

    {% csrf_token %}
    {% for field in form %}
        <div class="field" id="{{ field.name }}">
            {{ field }}
            <div class="error"></div>
            {% for error in field.errors %}
                <div class="error">{{ error }}</div>
            {% endfor %}
        </div>
    {% endfor %}

    <a class="message"></a>
    <input disabled type="submit" value="Сбросить пароль" />
</form>

<script src="{% static "user/js/token.js" %}"></script>
<script src="{% static 'user/js/set_password.js' %}"></script>


<style>
    .user-form input{
        width: 100%;
    }

    .user-form span{
        font-size: 12px;
        font-weight: 400;
        margin-top: 15px;
    }
</style>

{% endblock %}


{% block additional_scripts %}
<script src="{% static "user/js/reset_password_form.js" %}"></script>
{% endblock %}
