{% load static %}


{% include "account/profile.html" %}

<div style="width: 100%; display: flex; justify-content: center; height: 100%; position: absolute;">
    <form onsubmit="submitSetPasswordForm(this, event, '{{domain}}', '{{ token }}')" method="post" class="user-form">
        <h3>Установите пароль</h3>

        {% csrf_token %}
        {% for field in form %}
            <div class="field {% if field.name == 'password' %}password{% elif field.name == 'repeat_password' %}password{% endif %}" id="{{ field.name }}">
                <div class="field-container">
                    {{ field }}

                    {% if field.name == "password" %}
                        <img class="eye" src="{% static 'user/images/eye-cross.png' %}" />
                    {% endif %}

                    {% if field.name == "repeat_password" %}
                        <img class="eye" src="{% static 'user/images/eye-cross.png' %}" />
                    {% endif %}
                </div>
                {% for error in field.errors %}
                    <div class="error">{{ error }}</div>
                {% endfor %}
            </div>
        {% endfor %}

        <input style="margin-top: 15px;" disabled type="submit" value="Сохранить" />
        <span>Длина пароля не менее 6 символов. Рекомендуем использовать заглавные и строчные буквы, цифры и специальные символы</span>
    </form>
</div>

<script src="{% static 'user/js/validators/password_validator.js' %}"></script>
<script src="{% static 'user/js/set_password.js' %}"></script>

<style>
    .user-form input{
        width: 100%;
    }

    .user-form span{
        font-size: 12px;
        font-weight: 400;
        margin-top: 15px;
    }
</style>
