{% extends "common/base.html" %}
{% load static %}


{% block title %}
    Регистрация
{% endblock %}

{% block additional_styles %}
    <link rel="stylesheet" href="{% static 'user/css/main.css' %}">
{% endblock %}


{% block content %}

<form onsubmit="onSubmit(event)" class="user-form">
    {% csrf_token %}
    <h3>Установите пароль</h3>

    <input name="password" placeholder="Введите пароль" />
    <div class="error"></div>

    <input name="repeat-password" placeholder="Повторите пароль" />

    <input disabled type="submit" value="Сохранить" />
    <span>Длина пароли не менее 6 символов. Рекомендуем использовать заглавные и строчные буквы, цифры и специальные символы</span>
</form>

<script src="{% static 'user/js/set_password.js' %}"></script>

<script>
    function onSubmit(event){
        event.preventDefault();
        token = "{{ token }}";
        password = document.querySelector("input[name=password]").value;
        setPassword(token, password);
    }
</script>

<style>
    .user-form input{
        width: 100%;
    }

    .user-form span{
        font-size: 12px;
        font-weight: 400;
        margin-top: 15px;
    }
</style>

{% endblock %}
