.site{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;

    .link{
        width: 20px;
        height: 20px;
        position: relative;
        z-index: -1;
    }

    p{
        margin: 0px;
    }
}

.container{
    display: flex;
    gap: 80px;
}

.qrcode{
    width: 250px;
    height: 250px;
    margin-bottom: 15px;

    svg{
        width: 100%;
        height: 100%;
    }
}

.site-container, .logo-container{
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.site-container{
    margin-top: 20px;

    .left{
        margin-top: 0px;
        font-size: var(--service-font-size);
    }

    .right{
        font-size: var(--user-font-size);
        text-align: right;

        *{
            font-size: var(--user-font-size);
        }
    }
}

.logo-container{
    display: flex;
    justify-content: center;
    width: 260px;
    height: 63px;
    background: var(--main-color);
    overflow: hidden;
    align-items: center;
}

.site-name{
    width: 260px;
    height: 63px;
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;

    p{
        color: white;
    }
}

.container-child{
    max-width: 50%;
    min-width: 45%;
}

.stop-site{
    color: rgb(250, 50, 50);
    cursor: pointer;
    margin: 0px;
}

.user-social{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 0px;

    .content{
        display: flex;
        align-items: center;
    }

    .icon-wrapper{
        width: 22px;
        height: 22px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;

        img{
            width: 60%;
        }
    }

    a{
        font-weight: 600;
        margin: 0px 10px;
        font-size: var(--user-font-size);
    }

    .link{
        width: 20px;
        height: 20px;
        margin-left: 15px;
        position: relative;
        z-index: -1;
    }
}

.adds-link{
    color: var(--light-ref-color);
    text-decoration: none;
}
