.socials-form{
    width: 350px;
    top: 75px;

    #socials .field-container{
        align-items: end;
    }

    .field-container{
        margin-bottom: 10px;
    }

    .trash-container{
        display: flex;
        align-items: center;
        height: 35px;
        margin-left: 10px;

        .trash{
            height: 18px;
            width: 14px;
            cursor: pointer;
        }
    }
}
