{% extends "common/base.html" %}
{% load static %}
{% load sass_tags %}

{% block additional_styles %}
    <link type="text/css" rel="stylesheet" href="{% sass_src 'user/css/main.scss' %}">
{% endblock %}

{% block scripts %}
<script src="{% static "user/js/validators/password_validator.js" %}"></script>
<script src="{% static "user/js/password_field.js" %}"></script>
<script src="{% static "user/js/set_error.js" %}"></script>
<script src="{% static "user/js/validators/email_validator.js" %}"></script>
<script src="{% static "user/js/validators/username_validator.js" %}"></script>
<script src="{% static "user/js/validators/phone_validator.js" %}"></script>
<script src="{% static "user/js/token.js" %}"></script>
{% endblock %}
