{% extends "user/base.html" %}
{% load static %}
{% load sass_tags %}

{% block additional_styles %}
    <link type="text/css" rel="stylesheet" href="{% sass_src 'user/css/main.scss' %}">
    <link type="text/css" rel="stylesheet" href="{% sass_src 'user/css/profile.scss' %}">
{% endblock %}

{% block content %}

<header>
    <div class="inner">
        {% if settings.logo %}
            <img onclick="location.href='/partners'" class="logo"/>
        {% else %}
            <div onclick="location.href='/partners'" class="logo">
                <a style="font-family: {{settings.site_font}}; font-size: {{settings.site_font_size}};">{{ site_name }}</a>
            </div>
        {% endif %}

        <a class="logout" >Выйти из аккаунта</a>
    </div>
</header>

<div class="profile-content">
    <aside>

    </aside>

    {% block profile-content %}

    {% endblock %}
</div>

<style>
    {% if settings.logo %}
        header .logo{
            content: url("{{settings.logo.image}}");
            height: {{settings.logo.height}};
            width: {{settings.logo.width}};
        }
    {% endif %}

    @media (pointer:none), (pointer:coarse) {
        {% if settings.logo %}
            header .logo{
                height: {{settings.logo.height_mobile}};
                width: {{settings.logo.width_mobile}};
            }
        {% endif %}
    }
</style>

{% endblock %}

{% block additional_scripts %}
<script src="{% static 'user/js/logout.js' %}"></script>
{% endblock %}
