{% load static %}

<div class="popup-background text-popup">
    <div class="description-popup popup">
        <div class="title">
            <h3>Описание программы</h3>
            <img onclick="closeProductDescription()" class="cross" src="{% static 'blocks/images/cross-gray.png' %}" />
        </div>

        <div class="text">
            <a>{{ product.partner_description|safe }}</a>
        </div>

        {% if product.organization__partner_program %}
        <a onclick="incrementBanksCount()" style="text-align: left; display: block; margin-bottom: 0; margin-top: 0;" href="{{ product.organization__partner_program }}" target="_blank">Полные условия программы</a>
        {% endif %}
    </div>
</div>
