{% extends "common/base.html" %}
{% load static %}
{% load sass_tags %}

{% block additional_styles %}
    <link type="text/css" rel="stylesheet" href="{% sass_src 'account/css/base.scss' %}">
    <link type="text/css" rel="stylesheet" href="{% sass_src 'account/css/site.scss' %}">
    <link type="text/css" rel="stylesheet" href="{% sass_src 'user/css/main.scss' %}">
    <link type="text/css" rel="stylesheet" href="{% sass_src 'user/css/profile.scss' %}">
    <link type="text/css" rel="stylesheet" href="{% sass_src 'common/css/nav.scss' %}">
    <link type="text/css" rel="stylesheet" href="{% sass_src 'common/css/change-user-form.scss' %}">
    <link type="text/css" rel="stylesheet" href="{% sass_src 'common/css/change-password-form.scss' %}">
    <link type="text/css" rel="stylesheet" href="{% sass_src 'common/css/alerts.scss' %}">
    <link type="text/css" rel="stylesheet" href="{% sass_src 'account/css/site-form.scss' %}">
    <link type="text/css" rel="stylesheet" href="{% sass_src 'account/css/social-form.scss' %}">
{% endblock %}

{% block content %}
{% include "common/header.html" %}

<div id="content">
    {% include "account/menu.html" %}

    <main class="account-main">
        {% block account_content %}
        {% endblock %}
    </main>
</div>
{% endblock %}

{% block additional_scripts %}
<script src="{% static "user/js/token.js" %}"></script>
<script src="{% static 'user/js/logout.js' %}"></script>
<script src="{% static 'user/js/validators/password_validator.js' %}"></script>
<script src="{% static 'user/js/password_field.js' %}"></script>
<script src="{% static 'user/js/set_password.js' %}"></script>
<script src="{% static 'common/js/change-user.js' %}"></script>
<script src="{% static 'common/js/change-password.js' %}"></script>
<script src="{% static 'common/js/alerts.js' %}"></script>
<script src="{% static 'account/js/profile.js' %}"></script>
<script src="{% static 'account/js/site.js' %}"></script>
<script src="{% static 'account/js/site-form.js' %}"></script>
<script src="{% static 'account/js/social-form.js' %}"></script>
{% endblock %}
