{% load static %}

<aside class="menu">
    <ul>
        <li {% if request.path == "/my/" %} class="active"{% endif %}><a onclick="loadProfileContent('profile-content', '/my/')"><img src="{% static 'account/images/menu/menu_site.png' %}" />Обзор</a></li>
        <li {% if request.path == "/my/site" %} class="active"{% endif %}><a onclick="loadProfileContent('site-content', '/my/site')"><img src="{% static 'account/images/menu/menu_site.png' %}" />Мой сайт</a></li>
        <li {% if request.path == "/my/links" %} class="active"{% endif %}><a><img src="{% static 'account/images/menu/menu_links.png' %}" />Мои ссылки</a></li>
        <li {% if request.path == "/my/refs" %} class="active"{% endif %}><a><img src="{% static 'account/images/menu/menu_refs.png' %}" />Рефералы</a></li>
        <li {% if request.path == "/my/ads" %} class="active"{% endif %}><a><img src="{% static 'account/images/menu/menu_ads.png' %}" />Реклама</a></li>
        <li {% if request.path == "/my/materials" %} class="active"{% endif %}><a><img src="{% static 'account/images/menu/menu_site.png' %}" />Материалы</a></li>
        <li {% if request.path == "/my/stat" %} class="active"{% endif %}><a><img src="{% static 'account/images/menu/menu_stat.png' %}" />Статистика</a></li>
        <li {% if request.path == "/my/te" %} class="active"{% endif %}><a><img src="{% static 'account/images/menu/menu_site.png' %}" />Руководства</a></li>
        <li {% if request.path == "/my/si" %} class="active"{% endif %}><a><img src="{% static 'account/images/menu/menu_site.png' %}" />Бонусы</a></li>
    </ul>
</aside>

<script src="{% static 'account/js/menu.js' %}" ></script>
