{% load static %}
{% load qr_code %}
{% load sass_tags %}
{% load range %}


<div class="site-container" style="margin-bottom: 15px; align-items: end; margin-top: 10px;">
    <h1 style="margin-bottom: 0px;">Мои рефералы</h1>
</div>

<hr />

<div class="selects">
    <div>
        <select name="level" id="level">
            <option value="" selected>Все уровни</option>
            <option value="1">Уровень 1</option>
            <option value="2">Уровень 2</option>
            <option value="3">Уровень 3</option>
        </select>

        <select name="" id="">
            <option value="">Все рефералы</option>
            <option value="days=7">Новые за 7 дней</option>
        </select>
    </div>

    <select name="sort_by" id="sort_by" class="no-border">
        <option value="created_at" {% if request.GET.sorted_by == "created_at" %}selected{% endif %}>Дата регистрации</option>
        <option value="username" {% if request.GET.sorted_by == "username" %}selected{% endif %}>Имя пользователя</option>
        <option value="-first_level_referrals" {% if request.GET.sorted_by == "-first_level_referrals" %}selected{% endif %}>Рефералы</option>
    </select>
</div>

<table>
    <thead>
        <tr>
            <th>Реферал</th>
            <th>Дата</th>
            <th>Уровень</th>
            <th>Канал</th>
            <th>Рефералы</th>
            <th>Переходы</th>
            <th style="width: 100px; text-align: right;">Сообщения</th>
            <th class="settings"><img src="{% static 'account/images/settings.png' %}" /></th>
        </tr>
    </thead>

    <tbody>
        {% for referral in referrals %}
            <tr>
                <td class="ref" onclick="getReferralPopup({{ referral.id }})">
                    <div class="logo">
                        <img src="{% if referral.profile_picture %}{{ referral.profile_picture }}{% else %}{% static 'account/images/nophoto.jpg' %}{% endif %}" />
                    </div>

                    <p>{{ referral.username }} {% if referral.second_name %}{{ referral.second_name }}{% endif %}</p>
                </td>

                <td>{{ referral.created_at }}</td>
                <td>{{ referral.level }}</td>
                <td>{{ referral.channel }}</td>
                <td>{{ referral.referrals }}</td>
                <td>{{ referral.redirections }}</td>
                <td class="message"><img {% if referral.level != 1 %}class="inactive"{% endif %} src="{% static 'account/images/my_msg.png' %}" /></td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<hr />

<div class="pagination">
    <p>Всего рефералов: <a id="referrals-count">{{ count }}</a></p>
    <div class="pages">
        {% if total_pages > 1 %}
            <a {% if current_page == 1 %}class="active"{% endif %} onclick="loadPagination(1)">1</a>
            {% if current_page > 4 %}
                ...
            {% endif %}

            {% if current_page == 1 %}
                {% for num in total_pages|create_range %}
                    {% if current_page < num and num < current_page|add:"3" %}
                        {% if num > 1 and num != total_pages %}
                            <a {% if num == total_pages %}class="active"{% endif %} onclick="loadPagination({{ num }})">{{ num }}</a>
                        {% endif %}
                    {% endif %}
                {% endfor %}

            {% elif current_page == total_pages %}
                {% for num in total_pages|create_range %}
                    {% if current_page|add:"-3" < num and num < current_page %}
                        {% if num != total_pages and num > 1 %}
                            <a {% if num == total_pages %}class="active"{% endif %} onclick="loadPagination({{ num }})">{{ num }}</a>
                        {% endif %}
                    {% endif %}
                {% endfor %}

            {% else %}
                {% for num in total_pages|create_range %}
                    {% if current_page|add:"-2" < num and num < current_page|add:"2" %}
                        {% if num > 1 and num != total_pages %}
                            <a {% if num == current_page %}class="active"{% endif %} onclick="loadPagination({{ num }}, {{ total_pages }})">{{ num }}</a>
                        {% endif %}
                    {% endif %}
                {% endfor %}

            {% endif %}

            {% if current_page < total_pages|add:"-3" %}
                ...
            {% endif %}

            <a {% if current_page == total_pages %}class="active"{% endif %} onclick="loadPagination({{ total_pages }}, {{ total_pages }})">{{ total_pages }}</a>
        {% endif %}
    </div>

    <select name="page_size" id="page_size" class="no-border">
        <option value="10" selected>10 на странице</option>
        <option value="25">25 на странице</option>
        <option value="50">50 на странице</option>
        <option value="100">100 на странице</option>
    </select>
</div>

<div class="form ref-popup">

</div>

<script>
    initRefsContent();
</script>
