{% load static %}


<form onsubmit="onSubmitSiteForm('{{ domain }}', this, event)" class="site-form form">
    <div class="title">
        <h3>Настройки сайта</h3>
        <div onclick="closeForm(siteForm)" class="cross">
            <img src="{% static 'common/images/cross.png' %}"/>
        </div>
    </div>

    <hr />

    <div class="field-container">
        <div class="field" id="site">
            <p>Адрес сайта</p>
            <div style="display: flex; align-items: center;">
                <div>
                    <input name="site" default="{% if user.site.subdomain %}{{ user.site.subdomain }}{% endif %}" value="{% if user.site.subdomain %}{{ user.site.subdomain }}{% endif %}" placeholder="Придумайте адрес" />
                </div>
                <a style="margin: 0px;">{{ partner_domain }}</a>
            </div>
        </div>

        <div class="field" id="site">
            <div style="display: flex; align-items: center;">
                <div>
                    <select name="domain">
                        {% for domain_model in domains %}
                            <option value="{{ domain_model.id }}">{{ domain_model.domain }}</option>
                        {% endfor %}
                    </select>
                </div>
                <a style="margin: 0px;">{{ partner_domain }}</a>
            </div>
        </div>

        <div class="context-help">
            <div class="text">
                Ваш сайт будет доступен по выбранному адресу, например <a href="mysite.idri.ru">mysite.idri.ru</a>
            </div>

            <img src="{% static 'common/images/ico_localhelp.png' %}" />
        </div>
    </div>

    <div class="field-container">
        <div class="field" id="name">
            <p>Название сайта</p>
            <input placeholder="Придумайте название" name="name" default="{% if user.site.name %}{{ user.site.name }}{% endif %}" value="{% if user.site.name %}{{ user.site.name }}{% endif %}" />
        </div>

        <div class="field" id="font">
            <p>Шрифт</p>
            <select name="font" id="font">
                {% for font in fonts %}
                    <option value="{{ font.id }}" {% if user.site.font.id == font.id %}selected{% endif %}>{{ font.name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="field" id="font_size">
            <p>Размер</p>
            <select name="font_size" id="font_size">
                {% if user.site.font_size %}
                    <option {% if user.site.font_size == 6 %}selected{% endif %} value="6">6</option>
                    <option {% if user.site.font_size == 8 %}selected{% endif %} value="8">8</option>
                    <option {% if user.site.font_size == 9 %}selected{% endif %} value="9">9</option>
                    <option {% if user.site.font_size == 10 %}selected{% endif %} value="10">10</option>
                    <option {% if user.site.font_size == 12 %}selected{% endif %} value="12">12</option>
                    <option {% if user.site.font_size == 14 %}selected{% endif %} value="14">14</option>
                    <option {% if user.site.font_size == 18 %}selected{% endif %} value="18">18</option>
                    <option {% if user.site.font_size == 24 %}selected{% endif %} value="24">24</option>
                    <option {% if user.site.font_size == 30 %}selected{% endif %} value="30">30</option>
                    <option {% if user.site.font_size == 36 %}selected{% endif %} value="36">36</option>
                    <option {% if user.site.font_size == 48 %}selected{% endif %} value="48">48</option>
                    <option {% if user.site.font_size == 60 %}selected{% endif %} value="60">60</option>
                    <option {% if user.site.font_size == 72 %}selected{% endif %} value="72">72</option>
                {% else %}
                    <option {% if default_user_size == 6 %}selected{% endif %} value="6">6</option>
                    <option {% if default_user_size == 8 %}selected{% endif %} value="8">8</option>
                    <option {% if default_user_size == 9 %}selected{% endif %} value="9">9</option>
                    <option {% if default_user_size == 10 %}selected{% endif %} value="10">10</option>
                    <option {% if default_user_size == 12 %}selected{% endif %} value="12">12</option>
                    <option {% if default_user_size == 14 %}selected{% endif %} value="14">14</option>
                    <option {% if default_user_size == 18 %}selected{% endif %} value="18">18</option>
                    <option {% if default_user_size == 24 %}selected{% endif %} value="24">24</option>
                    <option {% if default_user_size == 30 %}selected{% endif %} value="30">30</option>
                    <option {% if default_user_size == 36 %}selected{% endif %} value="36">36</option>
                    <option {% if default_user_size == 48 %}selected{% endif %} value="48">48</option>
                    <option {% if default_user_size == 60 %}selected{% endif %} value="60">60</option>
                    <option {% if default_user_size == 72 %}selected{% endif %} value="72">72</option>
                {% endif %}
            </select>
        </div>

        <div class="context-help">
            <div class="text">
                Если логотип сайта не загружен, то название используется вместо него, оформленное выбранным шрифтом
            </div>

            <img src="{% static 'common/images/ico_localhelp.png' %}" />
        </div>
    </div>

    <div class="field-container" style="align-items: start; position: relative;">
        <div class="field" id="logo" style=" margin-bottom: 15px;">
            <p>Логотип</p>
            <div id="logo" class="logo">
                <img
                    default="{% if user.site.logo %}{{ user.site.logo.url }}{% else %}{% static 'account/images/baselogo.png' %}{% endif %}"
                    src="{% if user.site.logo %}{{ user.site.logo.url }}{% else %}{% static 'account/images/baselogo.png' %}{% endif %}"
                    style="{% if user.site.logo %}width: {{ user.site.logo_width }}; {% endif %}"
                />
                <input name="file" type="file" accept="image/*" id="file" />
            </div>

            <a href="/" style="font-size: 13px; text-decoration: none;">Как сделать логотип</a>
        </div>

        <div class="field" id="logo_size">
            <p>Размер</p>
            <input name="logo_size" min="0" max="100" value="{% if user.site.logo %}{{ user.site.width_percent }}{% else %}100{% endif %}" type="range" />
        </div>

        <div class="field">
            <div class="trash-container" style="margin-top: 48px; margin-left: 0px;">
                <img class="trash" onclick="deleteLogo()" src="{% static 'account/images/trash.png' %}"/>
            </div>
        </div>

        <div style="position: absolute; right: 10px; bottom: 59px;">
            <div class="context-help">
                <div class="text">
                    PNG или GIF файл на прозрачном фоне
                </div>

                <img src="{% static 'common/images/ico_localhelp.png' %}" />
            </div>
        </div>
    </div>

    <hr />

    <div class="field-container">
        <div class="field" style="width: 100%" id="owner">
            <p>Владелец</p>
            <input placeholder="ФИО или название организации" name="owner" default="{% if user.site.owner %}{{ user.site.owner }}{% endif %}" value="{% if user.site.owner %}{{ user.site.owner }}{% endif %}" style="width: 100%"/>
        </div>
    </div>

    <div class="field-container">
        <div class="field" style="width: 100%; margin-bottom: 15px;" id="contact_info">
            <p>Контактная информация</p>
            <input name="contact_info" style="width: 100%" default="{% if user.site.contact_info %}{{ user.site.contact_info }}{% endif %}" value="{% if user.site.contact_info %}{{ user.site.contact_info }}{% endif %}" placeholder="Контактные данные на сайт" />
        </div>
    </div>

    <hr />

    <!--
    <div id="socials">
        {% for user_social in user.site.socials.all %}
            <div class="field-container">
                <div class="field social">
                    <p>Соцсеть</p>
                    <select name="" id="">
                        {% for social in socials %}
                            <option value="{{ social.id }}" {% if user_social.social_network.id == social.id %}selected{% endif %}>{{ social.name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="field" style="width: 230;">
                    <p>Адрес</p>
                    <input style="width: 100%;" name="adress" default="{{ user_social.adress }}" value="{{ user_social.adress }}" />
                </div>

                <div class="trash-container">
                    <img class="trash" onclick="deleteSocial(this)" src="{% static 'account/images/trash.png' %}"/>
                </div>
            </div>
        {% endfor %}

        <div class="field-container">
            <div class="field social">
                <p>Соцсеть</p>
                <select name="" id="">
                    <option value="">Выбрать</option>
                    {% for social in socials %}
                        <option value="{{ social.id }}">{{ social.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="field adress">
                <p>Адрес</p>
                <input name="adress" />
            </div>

            <div class="trash-container">
                <img class="trash" onclick="deleteSocial(this)" src="{% static 'account/images/trash.png' %}"/>
            </div>

        </div>
    </div>

    <hr />-->

    <div class="field-container">
        <button><a>Сохранить</a></button>
    </div>
</form>
