{% load static %}
{% load qr_code %}
{% load sass_tags %}


{% include "account/site-form.html" %}
<h1 style="margin-bottom: 0px;">Мой сайт</h1>
<hr />

<div class="container">
    {% if user.site %}
        <div class="container-child">
            <div class="site-container">
                <div>
                    <p>Адрес сайта</p>

                    <div class="site">
                        <p>{{ request.user.full_site_name }}</p>

                        <a style="cursor: pointer; margin: 0px;" onclick="openLink('http://{{ request.user.full_site_name }}')">
                            <object class="link" data="/static/account/images/external-link.svg"></object>
                        </a>
                    </div>

                    <p class="stop-site" onclick="stopSite(this)">Остановить</p>
                </div>

                <p style="margin: 0px; color: rgb(40, 200, 40);">Онлайн с {{ user.site.online_from|date:"d.m.Y" }}</p>
            </div>

            <hr />

            <div>
                <p>Логотип:</p>

                <div class="site-container">
                    {% if user.site.logo %}
                        <div class="logo-container" style="min-width: {{ user.site.logo_width }}; min-height: {{ user.site.logo_height }}; max-width: {{ user.site.logo_width }}; max-height: {{ user.site.logo_height }};">
                            <img class="site-logo" src="{{ user.site.logo.url }}" />
                        </div>

                        <p>{{ user.site.logo_size }}</p>
                    {% else %}
                        <img style="width: 70%;" class="site-logo" src="{% static 'account/images/baselogo.png' %}" />
                    {% endif %}
                </div>
            </div>

            <hr />

            <div>
                <p>Название:</p>

                <div class="site-container">
                    {% if user.site.name %}
                        <p style="margin: 0px;">{{ user.site.name }}</p>
                    {% else %}
                        <p style="margin: 0px;">Задайте название сайта</p>
                    {% endif %}

                    <p>{% if user.site.font %}{{ user.site.font }}{% endif %}, {% if user.site.font_size %}{{ user.site.font_size }}pt{% endif %}</p>
                </div>

                <p>Владелец:</p>
                {% if user.site.owner %}
                    <p>{{ user.site.owner }}</p>
                {% else %}
                    <p>Нет информации о владельце</p>
                {% endif %}
            </div>

            <hr />

            <div>
                <p>Контактная информация</p>
                {% if user.site.contact_info %}
                    <p>{{ user.site.contact_info }}</p>
                {% else %}
                    <p>нет контактной информации</p>
                {% endif %}
            </div>

            <button onclick="openSiteForm()" id="open-site-form"><a>Настроить</a></button>

        </div>

        <div class="container-child">
            <p>QR код сайта:</p>
            <div class="qrcode">
                {% qr_from_text request.user.full_site_name size="T" %}
            </div>

            <a href="/">Рекламные материалы</a>

            <hr />

            <p>Каналы</p>
            {% if user.site.socials %}
                {% for user_social_network in user.site.socials.all %}
                    <div class="user-social">
                        <div class="icon-wrapper" style="background-color: {{ user_social_network.social_network.button_color }}">
                            <img src="{{ user_social_network.social_network.icon.url }}" />
                        </div>

                        <a>{{ user_social_network.adress }}</a>

                        <a style="cursor: pointer; margin: 0px;" onclick="openLink('{{ user_social_network.social_network.domain }}{{ user_social_network.adress }}')">
                            <object class="link" data="/static/account/images/external-link.svg"></object>
                        </a>
                    </div>
                {% endfor %}
            {% else %}
                <p>у вас пока нет своих каналов</p>
            {% endif %}
        </div>
    {% else %}
        <div class="container-child">
            <p>У вас пока нет своего сайта</p>
            <button onclick="openSiteForm()" id="open-site-form"><a>Создать</a></button>
        </div>
    {% endif %}
</div>

<script src="{% static 'account/js/site.js' %}"></script>
