{% load static %}

<form onsubmit="onSubmitSocialsForm('{{ domain }}', this, event)" class="form socials-form">
    <div class="title">
        <h3>Социальные сети</h3>
        <div onclick="closeForm(socialsForm)" class="cross">
            <img src="{% static 'common/images/cross.png' %}"/>
        </div>
    </div>

    <hr />

    <div id="socials">
        {% for user_social in user.site.socials.all %}
            {% with forloop.counter as soc_count %}
                {% if soc_count == 1 %}
                    <div class="field-container">
                        <div class="field social">
                            <p>Соцсеть</p>
                            <select name="" id="">
                                {% for social in socials %}
                                    <option value="{{ social.id }}" {% if user_social.social_network.id == social.id %}selected{% endif %}>{{ social.name }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="field" style="width: 230;">
                            <p>Адрес</p>
                            <input placeholder="Адрес канала" style="width: 100%;" name="adress" default="{{ user_social.adress }}" value="{{ user_social.adress }}" />
                        </div>

                        <div class="trash-container">
                            <img class="trash" onclick="deleteSocial(this)" src="{% static 'account/images/trash.png' %}"/>
                        </div>
                    </div>
                {% else %}
                    <div class="field-container">
                        <div class="field social">
                            <select name="" id="">
                                {% for social in socials %}
                                    <option value="{{ social.id }}" {% if user_social.social_network.id == social.id %}selected{% endif %}>{{ social.name }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="field" style="width: 230;">
                            <input placeholder="Адрес канала" style="width: 100%;" name="adress" default="{{ user_social.adress }}" value="{{ user_social.adress }}" />
                        </div>

                        <div class="trash-container">
                            <img class="trash" onclick="deleteSocial(this)" src="{% static 'account/images/trash.png' %}"/>
                        </div>
                    </div>
                {% endif %}
            {% endwith %}
        {% endfor %}

        {% if user.site.socials.all|length < 4 %}
            <div class="field-container">
                <div class="field social">
                    {% if user.site.socials.all|length == 0 %}
                        <p>Соцсеть</p>
                    {% endif %}
                    <select name="" id="">
                        <option value="">Выбрать</option>
                        {% for social in socials %}
                            <option value="{{ social.id }}">{{ social.name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="field adress">
                    {% if user.site.socials.all|length == 0 %}
                        <p>Адрес</p>
                    {% endif %}
                    <input placeholder="Адрес канала" name="adress" />
                </div>

                <div class="trash-container">
                    <img class="trash" onclick="deleteSocial(this)" src="{% static 'account/images/trash.png' %}"/>
                </div>

            </div>
        {% endif %}

        {% if user.site.socials.all|length == 0 %}
            <div class="field-container">
                <div class="field social">
                    <select name="" id="">
                        <option value="">Выбрать</option>
                        {% for social in socials %}
                            <option value="{{ social.id }}">{{ social.name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="field adress">
                    <input placeholder="Адрес канала" name="adress" />
                </div>

                <div class="trash-container">
                    <img class="trash" onclick="deleteSocial(this)" src="{% static 'account/images/trash.png' %}"/>
                </div>
            </div>
        {% endif %}
    </div>

    <hr />

    <div class="field-container">
        <button><a>Сохранить</a></button>
    </div>
</form>
