.alerts{
    position: absolute;
    background: white;
    border-radius: 5px;
    right: 0;
    display: none;
    width: 400px;
    border: 1px solid var(--dark-color);
    z-index: 3;

    .title{
        padding: 10px 20px 0px 20px;
        justify-content: space-between;
        display: flex;
        align-items: center;

        h3{
            margin: 0;
        }

        img{
            width: 20px;
            height: 20px;
        }
    }

    .alert-elem{
        display: flex;
        align-items: start;
        justify-content: space-between;
        margin: 10px 0px;

        .status{
            width: 15px;
            height: 15px;
        }

        .date{
            color: rgb(150, 150, 150);
        }

        .trash{
            height: 20px;
            cursor: pointer;
        }

        .main{
            display: flex;
            align-items: start;
            gap: 15px;

        }
    }

    .content{
        display: flex;
        padding: 0px 20px;
        flex-direction: column-reverse;
    }

    .bottom{
        padding: 0px 20px 10px 20px;

        a{
            margin: 0;
            cursor: pointer;
            color: rgb(130, 130, 250);
        }
    }
}
