:root{
    --margin-inside-block-desctop: 25px;
    --margin-inside-block-mobile: 12px;
    --ref-color: #5f6d87;
    --dark-color: rgb(200, 200, 200);
    --light-ref-color: rgb(150, 150, 250);
}

body{
    margin: 0 auto;
    background-color: var(--background-color);
    display: flex;
    align-items: center;
    flex-direction: column;
}

a, p, li{
    color: var(--main-text-color);
    font-size: var(--main-text-font-size);
    font-weight: var(--main-text-font-weight);
    font-family: var(--main-text-font-family);
    margin: var(--margin-inside-block-desctop) 0px;
}

h1{
    font-size: var(--header-font-size);
    font-weight: var(--header-font-weight);
    color: var(--header-color);
    font-family: var(--header-font-family);
    margin: var(--margin-inside-block-desctop) 0px;
}

h3{
    font-size: var(--subheader-font-size);
    font-weight: var(--subheader-font-weight);
    font-family: var(--subheader-font-family);
    margin: var(--margin-inside-block-desctop) 0px;
    color: var(--subheader-color);
}

button{
    padding: 16px 22px;
    margin: var(--margin-inside-block-desctop) 0px;
    cursor: pointer;
    border-radius: 5px;

    a{
        margin: 0px;
        color: var(--main-text-inverted-color)!important;
        text-decoration: none;
    }
}

span, span p, label{
    color: var(--explanation-text-color);
    font-size: var(--explanation-text-font-size);
    font-weight: var(--explanation-text-font-weight);
    font-family: var(--explanation-text-font-family);
    line-height: 140%;
}

form{
    input[type=submit]{
        background-color: var(--main-color);
        border: 2px solid var(--main-color);
        color: var(--main-text-inverted-color);
        font-family: var(--main-text-font-family);
        font-size: var(--main-text-font-size);
        font-weight: var(--main-text-font-weight);
    }

    .error{
        color: white;
        text-align: center;
        font-size: 11px;
        font-family: var(--main-text-font-family);
        background: none repeat scroll 0 0 #eeeeee;
        z-index: 999;
        background-color: #C40F18;
        border-radius: 3px;
        padding: 3px 7px;
        position: absolute;
        right: 0px;
        top: calc(100% + 10px);
        display: none;
        box-shadow: -3px 9px 12px rgba(0, 0, 0, 0.15);

        &:before {
            bottom: 100%;
            right: 5px;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-color: transparent;
            border-bottom-color: #C40F18;
            border-width: 6px;
        }
    }
}

input[type=submit]:disabled, button:disabled{
    opacity: .7;
    cursor: not-allowed;
}

@media screen and (max-width: 760px) {
    a, p{
        font-size: var(--main-text-font-size-mobile);
        font-weight: var(--main-text-font-weight-mobile);
        margin: var(--margin-inside-block-mobile) 0px;
    }

    h1{
        font-size: var(--header-font-size-mobile);
        font-weight: var(--header-font-weight-mobile);
        margin: var(--margin-inside-block-mobile) 0px;
    }

    h3{
        font-size: var(--subheader-font-size-mobile);
        font-weight: var(--subheader-font-weight-mobile);
        margin: var(--margin-inside-block-mobile) 0px;
    }

    button{
        padding: 15px 22px;
        margin: var(--margin-inside-block-mobile) 0px;
    }

    span, span p, label{
        font-size: var(--explanation-text-font-size-mobile);
        font-weight: var(--explanation-text-font-weight-mobile);
    }
}

form{
    .eye{
        position: absolute;
        right: 7px;
        width: 45px;
        cursor: pointer;
    }
}

.form{
    background-color: white;
    border-radius: 15px 0px 0px 15px;
    padding: 15px 0px;
    border: 1px solid var(--dark-color);
    position: absolute;
    transition: .4s;
    right: -520px;
    border-right: 1px solid white;

    input[type=file]{
        width: 100%;
        height: 100%!important;
        opacity: 0;
        position: absolute;
        left: 0;
        top: 0;
    }

    .title{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 15px;

        .cross{
            border-radius: 50%;
            width: 20px;
            height: 20px;
            background-color: var(--dark-color);
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            img{
                width: 60%;
                height: 60%;
            }

        }

        h3{
            margin: 0;
        }
    }

    .error{
        font-size: 11px;
    }

    .field-container{
        display: flex;
        padding: 0px 15px;
        align-items: end;

        .context-help{
            position: relative;
            width: 15px;
            margin-bottom: 10px;
            cursor: pointer;
            height: 15px;

            .text{
                /*display: none;*/
                display: none;
                flex-wrap: wrap;
                max-width: 300px;
                min-width: 160px;
                border: 1px solid var(--dark-color);
                padding: 10px;
                border-radius: 5px;
                background: white;
                right: calc(100% - 22px);
                bottom: calc(100% + 10px);
                position: absolute;
                font-size: 11px;
                font-family: var(--main-text-font-family);
                color: var(--main-text-color);
                box-shadow: -3px 9px 12px rgba(0, 0, 0, 0.15);

                *{
                    font-size: 11px;
                }

                &::after {
                    content: '';
                    position: absolute;
                    right: 9px;
                    bottom: -5px;
                    width: 7px;
                    height: 7px;
                    transform: rotate(45deg);
                    border-bottom: 1px solid #b1b1b1;
                    border-right: 1px solid #b1b1b1;
                    background-color: white;
                }
            }

            img{
                width: 15px;
                height: 15px;
            }

            &:hover .text{
                display: block;
            }
        }

        .field{
            position: relative;

            p{
                margin-bottom: 5px;
                margin-top: 10px;
                font-size: 13px;
            }

        }

        input{
            height: 35px;

            &::-webkit-input-placeholder{
                color: rgb(200, 200, 200);
                font-family: var(--main-text-font-family);
                font-size: 14px;
                font-weight: var(--main-text-font-weight);
            }
        }

        input, select{
            padding: 8px;
            border-radius: 4px;
            border: 1px solid var(--dark-color);
            margin-right: 10px;
            font-family: var(--main-text-font-family);
            font-size: 14px;
            font-weight: var(--main-text-font-weight);
        }

        select{
            height: 35px;
            padding: 2px 8px;
        }
    }

    button{
        background-color: var(--main-color);
        border: none;
        margin: 0px;
        margin-top: 5px;
        padding: 9px 17px;
    }

    .social{
        width: 150;
        margin-right: 10px;

        select{
            width: 100%;
        }
    }

    .adress{
        width: 230;

        input{
            width: 100%;
        }
    }
}

.form-container{
    display: flex;
    top: 0;
    left: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
    z-index: 3;
    justify-content: center;
    align-items: center;
    animation: showPopup 0.3s;
}

.base-popup{
    right: auto;
    border-radius: 15px;
    width: 450px;

    .main-content{
        padding: 0px 15px;
    }

    .title{
        justify-content: end;
    }

    p{
        text-align: center;
    }
}
