.change-user-form{
    top: 75px;
    width: 430px;

    .checkmark-container{
        position: relative;
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;

        input{
            width: 100%;
            margin: 0!important;
        }

        img{
            position: absolute;
            right: 0px;
            height: 14px;
            padding-right: 10px;
        }
    }

    .messager{
        align-items: end;
        justify-content: space-between;
        padding-bottom: 10px;
    }

    .social{
        margin-right: 0px!important;
    }

    .notifications{
        font-size: 13px;
        color: rgb(80, 80, 240);
        text-align: right;
    }

    .email-title{
        display: flex;
        justify-content: space-between;
        align-items: end;

        a{
            margin: 0;
            font-size: 13px;
            color: rgb(250, 20, 20);
            margin-bottom: 5px;
            margin-top: 10px;
        }
    }

    .main-user-content{
        display: flex;
        justify-content: space-between;
        align-items: end;
        padding-bottom: 10px !important;

        .user-logo{
            width: 120px;
            height: 120px;
            border-radius: 50%;
            border: 1px solid var(--dark-color);
            position: relative;
            overflow: hidden;

            img{
                width: 100%;
            }
        }

        .fields{
            width: calc(100% - 140px);
            display: flex;
            flex-direction: column;

            input{
                width: 100%;
            }
        }
    }

    .error{
        text-align: left;
    }
}
