.change-password-form{
    top: 75px;
    width: 300px;

    .field {
        width: 100%;

        .eye{
            width: 38px;
        }

        input{
            margin-right: 0px!important;
            width: 100%;
        }

        .password{
            position: relative;
            display: flex;
            align-items: center;
        }
    }

    .content{
        padding-bottom: 10px;
    }
}
