header{
    padding: 12px 0px;

    .inner{
        width: calc(100% - 50px);
    }

    a.ideas{
        color: white;
        cursor: pointer;
        text-decoration: none;
        margin: 0px;
    }

    .icons{
        display: flex;
        align-items: center;
        width: 90px;
        justify-content: space-between;

        & > a:first-child{
            margin: 0;
            color: white;
            text-decoration: none;
        }

        .icon{
            cursor: pointer;
            padding: 5px;
        }

        .alert-container{
            position: relative;

            &:hover .alerts{
                display: block;
            }

            .indicator{
                position: absolute;
                width: 15px;
                height: 15px;
                bottom: -4px;
                right: -4px;
                border-radius: 50%;
                background-color: rgb(50, 230, 50);
                transition: .2s;
            }
        }

        img{
            height: 18px;
        }

        .user-container{
            position: relative;

            &:hover .user-nav{
                display: block;
            }

            .user-nav{
                width: 250px;
                position: absolute;
                right: 0px;
                background-color: white;
                border-radius: 10px;
                border: 1px solid var(--dark-color);
                display: none;
                z-index: 3;

                .title{
                    padding: 15px 20px 0px 20px;

                    a{
                        font-weight: 600;
                        margin: 0;
                    }
                }

                .bottom{
                    padding: 0px 20px 10px 20px;

                    a{
                        margin: 0;
                        cursor: pointer;
                        width: 100px;
                    }
                }

                a{
                    display: flex;
                    margin: 10px 0px;
                }

                img{
                    display: flex;
                    flex-direction: column;
                    width: 20px;
                    height: 20px;
                    margin-right: 10px;
                }

                .content{
                    padding: 0px 20px 0px 20px;

                    a{
                        cursor: pointer;
                        width: 100px;
                    }
                }
            }
        }
    }
}
