.block-wrapper{
    display: flex;
    justify-content: center;
    width: 100%;
}

.inner{
    width: calc(100% - 180px);
}


@media screen and (max-width: 760px) {
    .inner{
        width: calc(100% - 40px);
        padding: 0px 20px;
    }
}
