:root{
    --margin-inside-block-desctop: 15px;
    --margin-inside-block-mobile: 10px;
}

body{
    margin: 0 auto;
    background-color: var(--background-color);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.block-wrapper{
    display: flex;
    justify-content: center;
    width: 100%;
}

a{
    color: var(--main-text-color);
    font-size: var(--main-text-font-size);
    font-weight: var(--main-text-font-weight);
    font-family: var(--main-text-font-family);
    margin: var(--margin-inside-block-desctop) 0px;
}

h1{
    font-size: var(--header-font-size);
    font-weight: var(--header-font-weight);
    color: var(--header-color);
    font-family: var(--header-font-family);
    margin: var(--margin-inside-block-desctop) 0px;
}

button{
    padding: 3px 20px;
    margin: var(--margin-inside-block-desctop) 0px;
}

@media screen and (max-width: 760px) {
    a{
        font-size: var(--main-text-font-size-mobile);
        font-weight: var(--main-text-font-weight-mobile);
        margin: var(--margin-inside-block-mobile) 0px;
    }

    h1{
        font-size: var(--header-font-size-mobile);
        font-weight: var(--header-font-weight-mobile);
        margin: var(--margin-inside-block-mobile) 0px;
    }

    button{
        padding: 10px 20px;
        margin: var(--margin-inside-block-mobile) 0px;
    }
}
