:root{
    --margin-inside-block-desctop: 25px;
    --margin-inside-block-mobile: 12px;
}

body{
    margin: 0 auto;
    background-color: var(--background-color);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.block-wrapper{
    display: flex;
    justify-content: center;
    width: 100%;
}

a, p{
    color: var(--main-text-color);
    font-size: var(--main-text-font-size);
    font-weight: var(--main-text-font-weight);
    font-family: var(--main-text-font-family);
    margin: var(--margin-inside-block-desctop) 0px;
}

h1{
    font-size: var(--header-font-size);
    font-weight: var(--header-font-weight);
    color: var(--header-color);
    font-family: var(--header-font-family);
    margin: var(--margin-inside-block-desctop) 0px;
}

h3{
    font-size: var(--subheader-font-size);
    font-weight: var(--subheader-font-weight);
    color: var(--subheader-сolor);
    font-family: var(--subheader-font-family);
    margin: var(--margin-inside-block-desctop) 0px;
}

button{
    padding: 16px 22px;
    margin: var(--margin-inside-block-desctop) 0px;
    cursor: pointer;
    border-radius: 5px;
}

button a{
    margin: 0px;
    color: var(--main-text-inverted-color)!important;
    text-decoration: none;
}

span{
    color: var(--explanation-text-color);
    font-size: var(--explanation-text-font-size);
    font-weight: var(--explanation-text-font-weight);
    font-family: var(--explanation-text-font-family);
    line-height: 140%;
}

.inner{
    width: calc(100% - 180px);
}

@media screen and (max-width: 760px) {
    a, p{
        font-size: var(--main-text-font-size-mobile);
        font-weight: var(--main-text-font-weight-mobile);
        margin: var(--margin-inside-block-mobile) 0px;
    }

    h1{
        font-size: var(--header-font-size-mobile);
        font-weight: var(--header-font-weight-mobile);
        margin: var(--margin-inside-block-mobile) 0px;
    }

    h3{
        font-size: var(--subheader-font-size-mobile);
        font-weight: var(--subheader-font-weight-mobile);
        margin: var(--margin-inside-block-mobile) 0px;
    }

    button{
        padding: 15px 22px;
        margin: var(--margin-inside-block-mobile) 0px;
    }

    span{
        font-size: var(--explanation-text-font-size-mobile);
        font-weight: var(--explanation-text-font-weight-mobile);
    }

    .inner{
        width: calc(100% - 40px);
        padding: 0px 20px;
    }
}
