.cover{
    width: 100%;
    background-color: rgba(0,0,0,.3)!important;
    background-blend-mode: multiply;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: var(--padding-block-top);
    padding-bottom: var(--padding-block-bottom);
}

.cover h1{
    color: var(--header-inverted-color);
    margin-top: 0px;
    text-align: center;
}

.cover .button-wrapper{
    display: flex;
    justify-content: center;
}

.cover button{
    margin: var(--margin-inside-block-desctop) 10px 0px 10px;
    border: 1px solid var(--secondary-color);
    background-color: var(--secondary-color);
    border-radius: 7px;
    cursor: pointer;
}

.cover #white-button{
    background-color: transparent;
    border: 1px solid white;
}

.cover button a{
    color: var(--main-text-inverted-color);
    text-decoration: none;
}

.cover .inner{
    max-width: 800px;
}

.cover a, .cover p{
    color: var(--main-text-inverted-color);
    text-align: center;
}

@media screen and (max-width: 760px) {
    .button-wrapper {
        flex-direction: column;
    }

    .cover .inner{
        width: calc(100% - 40px);
    }

    .cover button{
        margin: var(--margin-inside-block-mobile) 0px;
        margin-bottom: 0px;
    }

    .cover p{
        padding: var(--margin-inside-block-mobile) 0px;
    }

    .cover a{
        display: block;
    }
}
