.features{
    background-color: var(--second-background-color);
    padding-top: var(--padding-block-top);
    padding-bottom: var(--padding-block-bottom);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.features h1{
    margin-top: 0px;
}

.feature p{
    margin: 0px;
    color: var(--explanation-text-color);
    font-size: var(--explanation-text-font-size);
    font-weight: var(--explanation-text-font-weight);
    font-family: var(--explanation-text-font-family);
    line-height: 140%;
}

.feature h3{
    margin-top: 15px;
    margin-bottom: 5px;
}

.features .feature{
    margin: var(--margin-inside-block-desctop) 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.features .feature .icon-wrapper{
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    aspect-ratio: 1 / 1;
}

.icon-wrapper .icon{
    min-width: 65%;
    min-height: 65%;
}

.features-container{
    justify-content: center;
}

.features button{
    border: none;
    background-color: var(--main-color);
}

.features a{
    margin: 0px;
    margin-bottom: var(--margin-inside-block-desctop);
    text-align: center;
}

button{
    margin-bottom: 0px;
}

@media screen and (max-width: 760px) {
    .features{
        width: calc(100% - 40px);
        padding: 0px 20px;
        padding-top: var(--padding-block-top);
        padding-bottom: var(--padding-block-bottom);
    }
    .features-container{
        grid-template-columns: repeat(1, 1fr);
    }

    .feature{
        width: 100%;
    }

    .feature p{
        margin: 0px;
        font-size: var(--explanation-text-font-size-mobile);
        font-weight: var(--explanation-text-font-weight-mobile);
    }
}
