header{
    /*padding-top: var(--padding-block-top);*/
    /*padding-bottom: var(--padding-block-bottom);*/
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    color: var(--header-inverted-color);
    width: 100vw;
    height: 100px;
}

header .inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    padding-right: 40px;
    padding-left: 40px;
}

header button{
    background-color: var(--secondary-color);
    margin-left: 40px;
    padding: 13px 18px;
    border: none;
    border-radius: 5px;
}

header button a{
    color: var(--main-text-inverted-color);
}

header h1{
    color: var(--header-inverted-color);
}