header{
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    color: var(--header-inverted-color);
    width: 100vw;
    padding-top: var(--padding-block-top);
    padding-bottom: var(--padding-block-bottom);
}

header .inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
}

header button{
    background-color: var(--secondary-color);
    margin: 0px 0px 0px 40px;
    border: none;
}

header h1{
    color: var(--header-inverted-color);
    margin: 0px;
}
