.subscribes .social-button{
    border-radius: 7px;
    display: inline-flex;
    align-items: center;
    padding: 7px 12px;
    margin: 0px 7px;
}

.subscribes .social-button a{
    color: var(--main-text-inverted-color);
    margin: 0px;
    text-decoration: none;
}

.subscribes .inner{
    max-width: 800px;
}

.subscribes .social-button img{
    height: 25px;
    margin-right: 15px;
}

.subscribes{
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: var(--padding-block-top);
    padding-bottom: var(--padding-block-bottom);
}

.subscribes h1{
    margin-top: 0px;
    text-align: center;
    color: var(--header-inverted-color);
}

.subscribes a, .subscribes p{
    text-align: center;
    color: var(--main-text-inverted-color);
    text-decoration: none;
}

.subscribes .button-container{
    display: flex;
    justify-content: center;
}
