.content{
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: var(--padding-block-top);
    padding-bottom: var(--padding-block-bottom);
}

.content h1{
    margin-top: 0px;
}

.content .inner{
    display: flex;
    width: calc(100% - 180px);
    justify-content: space-between;
    max-width: 1200px;
}

.image-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    aspect-ratio: 1/1;
    overflow: hidden;
}

.image-wrapper img{
    height: 100%;
}

.content button{
    border: none;
    background-color: var(--main-color);
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 0px;
}

.content button a{
    color: var(--main-text-inverted-color);
    text-decoration: none;
}

a, p{
    display: block;
    margin: var(--margin-inside-block-desctop) 0px;
    color: var(--main-text-color);
}

.images-container{
    position: relative;
    width: 100%;
    aspect-ratio: 4/5;
}

.content .right-text{
    flex: 0 0 55%;
}

.content .left-text{
    flex: 0 0 55%;
}

.left-block{
    flex: 0 0 35%; 
    display: flex; 
    justify-content: center; 
    align-items: center;
}

@media screen and (max-width: 760px) {
 
}