.content{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: var(--background-color);
}

.content .inner{
    display: flex;
    width: calc(100% - 180px);
    justify-content: space-between;
    max-width: 1200px;
}

.content a{
    font-size: var(--main-text-font-size);
    font-weight: var(--main-text-font-weight);
    font-family: var(--main-text-font-family);
}

h1{
    color: var(--header-color);
    font-size: var(--header-font-size);
    font-weight: var(--header-font-weight);
    font-family: var(--header-font-family);
}

.image-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    aspect-ratio: 1/1;
    overflow: hidden;
}

.image-wrapper img{
    height: 100%;
}

.content button{
    padding: 10px 20px;
    border: none;
    background-color: var(--main-color);
    border-radius: 5px;
    margin-top: 50px;
    cursor: pointer;
}

.content button a{
    color: var(--main-text-inverted-color);
    text-decoration: none;
}

a{
    display: block;
    margin: 10px 0px;
    color: var(--main-text-color);
}

.images-container{
    position: relative;
    width: 100%;
    aspect-ratio: 4/5;
}
