{% extends "account/base.html" %}

{% block title %}
{{ document.title }} | {{ site_name }}
{% endblock %}

{% block account_content %}

<div class="container" style="margin-top: 40px;">
    <div class="documents">
        <section class="document">
            <img src="{{ document.image.url }}" alt="{{ document.title }}">

            <div>
                <h2>{{ document.title }}</h2>

                {{ document.text|safe }}
            </div>
        </section>
    </div>

    <div class="right-menu">

    </div>
</div>

{% endblock %}


{% load static %}
