{% load static %}

<div class="form-container" id="error-popup-container">
    <form class="form" id="error-popup">
        <div class="title">
            <h3>Возникла ошибка</h3>
            <div onclick="closeFormPopup(errorPopupContainer)" class="cross">
                <img src="{% static 'common/images/cross.png' %}"/>
            </div>
        </div>

        <hr />

        <div class="main-content">
            <p>{{ request.GET.error }}</p>
        </div>
    </form>
</div>

<script>
    const errorPopupContainer = document.getElementById("error-popup-container");
</script>
