{% load static %}

<form onsubmit="submitFeedbackForm(this, event)" style="right: auto !important; display: block;" autocomplete="off" method="post" id="feedback-form" class="user-form form">
    {% csrf_token %}
    <div class="title">
        <h3>Связаться с нами</h3>

        <div class="cross">
            <img onclick="closeFormPopup(feedbackFormContainer)" src="{% static 'common/images/cross.png' %}" />
        </div>
    </div>

    <div class="fields">
        {% for field in feedback_form %}
        <div class="field" id="{{ field.name }}">
            {{ field }}
            {% for error in field.errors %}
            <div class="error">{{ error }}</div>
            {% endfor %}
        </div>
        {% endfor %}

        <input type="submit" disabled value="Отправить" />
    </div>
</form>

<style>
    .logo{
        width: {{settings.form_logo.width}};
        height: {{settings.form_logo.height}};
    }
</style>

<script src="{% static "common/js/feedback_form.js" %}"></script>
<script src="{% static 'common/js/submit_feedback_form.js' %}"></script>
