#headers-group fieldset.aligned{
    display: flex;
}

#headers-group fieldset.aligned .flex-container{
    flex-direction: column;
}

.vTextField, .vUUIDField{
    width: auto;
}

.form-row.field-content .vTextField, .form-row.field-content .vUUIDField{
    width: 40em;
}
