:root{
    --service-font-size: 13px;
    --user-font-size: 14px;
}

.menu{
    height: 100%;
    min-height: 630px;

    ul{
        padding-left: 15px;
    }

    li{
        margin: 5px 0px;
        font-weight: 400;
        padding: 10px;

        img{
            height: 20px;
        }

        &::marker{
            display: none;
            content: '';
        }

        a{
            display: flex;
            align-items: center;
            margin: 0px;
            gap: 10px;
            font-weight: 400;
            text-decoration: none;
            cursor: pointer;
        }
    }

    .active{
        border-radius: 15px 0px 0px 15px;
        background-color: #fefbf3;;
    }
}

hr{
    border-top: 1px solid var(--dark-color);
}

.account-main{
    padding-left: 50px;
    padding-right: 50px;
    min-width: calc(100% - 300px);

    a, p{
        font-size: var(--service-font-size);
    }
}

body{
    overflow-x: hidden;
    background-color: #fefbf3;
}

#content{
    display: flex;
    width: 100%;
}

a, p{
    font-size: 14px;
    margin: 22px 0px;
}

th, td{
    font-size: var(--service-font-size);
    margin: 0;
    color: black;
}

h1{
    font-size: 27px;
}

.title-button{
    margin: 0px;
    width: 160px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;

    *{
        font-size: 13px;
    }
}
