form.create-idea-form{
    width: 400px;
    top: 75px;

    select{
        margin: 0;
        margin-right: 0!important;
    }

    .field{
        width: 100%;

        div:not(.error), input, select{
            width: 100%;
        }
    }

    textarea{
        width: 100%;
        height: 150px!important;
    }

    .bottom{
        display: flex;
        justify-content: space-between;

        .delete{
            background-color: rgb(200, 50, 50);
            cursor: pointer;
            border-radius: 5px;
            margin: 0px;
            margin-top: 5px!important;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 9px 17px;
            border: none;
            width: 110px;

            font-weight: var(--main-text-font-weight);
            font-family: var(--main-text-font-family);
            color: var(--main-text-inverted-color) !important;
            text-decoration: none;
            margin: 0;
            cursor: pointer;
            width: 100px;
            font-size: var(--service-font-size);
        }
    }

    .screens{
        .screens-container{
            display: flex;
            align-items: center;
            gap: 20px;

            .screen{
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 50px;
                min-width: 50px;
                height: 100px;

                img{
                    width: 100%;
                }
            }
        }

        button{
            border: 2px solid black;
            background-color: transparent;
            max-width: 30px;
            min-width: 30px;
            max-height: 30px;
            min-height: 30px;
            padding: 0;
            color: black;
            text-align: center;
            font-size: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

table.ideas{
    tr::after{
        height: 10px;
    }

    tr{
        td{
            padding: 10px 0px;
        }

        td:first-child{
            padding-top: 7px;
        }
    }

    tr:last-child{
        td{
            padding: 0px;
            padding-top: 10px;
        }

        border-bottom: 0px!important;
    }

    thead{
        .fields-title{
            display: flex;
            gap: 10px;
            align-items: center;

            .context-help{
                font-weight: var(--main-text-font-weight);
                margin: 0;
            }
        }
    }

    tbody{
        td{
            vertical-align: top;

            p:first-child{
                margin-top: 0;
            }
        }

        .description{
            p{
                margin-top: 0px;
            }

            display: -webkit-box;
            cursor: pointer;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;

            &.hidden{
                -webkit-line-clamp: 2;
            }
        }

        .status img{
            height: 27px;
            border-radius: 50%;
        }

        .like{
            display: flex;
            gap: 10px;
            justify-content: flex-end;

            img{
                height: 20px;
                cursor: pointer;
            }
        }
    }

    .change-idea{
        display: flex;
        align-items: center;
        gap: 10px;

        img{
            width: 12px;
            height: 12px;
            cursor: pointer;
        }

        span{
            font-size: var(--service-font-size);
        }
    }
}
