table{
    width: 100%;
    border-collapse: collapse;

    th{
        font-weight: 700;
    }

    thead{
        height: 40px;

        div{
            padding-bottom: 10px;
            margin-bottom: 10px;
            position: relative;

            &::after {
                content: '';
                position: absolute;
                left: -2px; /* Задайте отрицательное значение для смещения влево */
                right: -2px; /* Задайте отрицательное значение для смещения вправо */
                bottom: 0; /* Позиционируем относительно нижней части элемента */
                height: 1px; /* Высота линии */
                background: var(--dark-color); /* Цвет линии */
            }
        }
    }

    .logo{
        height: 30px;
        width: 30px;

        img{
            width: 100%;
        }
    }

    .ref{
        display: flex;
        align-items: center;
        gap: 15px;
        cursor: pointer;
    }

    td{
        color: black;
    }

    .settings{
        width: 35px;
        text-align: right;

        img{
            height: 20px;
            width: 20px;
        }
    }

    th{
        text-align: left;
    }

    p{
        margin: 10px 0px;
    }

    .message{
        text-align: right;

        img{
            height: 22px;
            cursor: pointer;

            &.inactive{
                opacity: .6;
            }
        }
    }
}

.pagination{
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;

    p{
        margin: 3px;
    }

    .referrals-count{
        font-weight: 600;

        a{
            font-weight: 600;
        }
    }

    .pages{
        display: flex;
        align-items: center;

        a{
            margin: 0px 5px;
            cursor: pointer;

            &.active{
                color: white;
                padding: 5px;
                background: var(--main-color);
            }
        }
    }
}

.selects{
    padding-top: 15px;
    padding-bottom: 30px;

    display: flex;
    justify-content: space-between;
}

select{
    background-color: transparent;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1.5px solid var(--dark-color);

    &:focus {
        outline: none;
        box-shadow: none;
    }
}

select.no-border{
    border: none;
}

.ref-popup{
    width: 420px;
    top: 75px;

    .level{
        a{
            cursor: pointer;
            color: var(--medium-ref-color);
        }
    }

    p{
        margin: 5px 0px;
    }

    .title{
        align-items: start;

        .user-main-info{
            display: flex;
            justify-content: space-between;
            gap: 20px;

            h2{
                margin-top: 0px;
                margin-bottom: 0;
                font-family: var(--main-text-font-family);
                font-size: var(--service-font-size);
            }

            .profile-picture{
                width: 70px;
                height: 70px;
                display: flex;
                align-items: center;
                justify-content: center;

                img{
                    width: 100%;
                }
            }
        }
    }

    .active-info{
        display: flex;
        padding: 5px 20px;

        p{
            margin: 3px 0px;
        }
    }

    .context-help{
        .text{
            width: 240px;
        }
    }

    .activities{
        padding: 5px 20px;

        a{
            color: var(--medium-ref-color);
        }
    }

    .field{
        min-width: 100px;
        display: flex;
        flex-direction: column;
        /* justify-content: start; */
        align-items: start;

        .text-with-help{
            position: relative;
            display: flex;
            align-items: center;
            gap: 10px;
        }

        a{
            margin: 3px 0px;
        }

        .context-help{
            position: inherit;
            margin: 0;
        }
    }
}
