.site{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;

    .link{
        width: 25px;
        height: 25px;
        position: relative;
        z-index: -1;
    }

    p{
        margin: 0px;
    }
}

.container{
    display: flex;
    gap: 80px;
}

.qrcode{
    width: 250px;
    height: 250px;
    margin-bottom: 15px;

    svg{
        width: 100%;
        height: 100%;
    }
}

.site-container, .logo-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-child{
    max-width: 50%;
    min-width: 45%;
}

.account-main button{
    background-color: var(--main-color);
    border: none;
    width: 200px;
}

.stop-site{
    color: rgb(250, 50, 50);
    cursor: pointer;
}

.user-social{
    display: flex;
    align-items: center;
    margin: 15px 0px;

    .icon-wrapper{
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;

        img{
            width: 60%;
        }
    }

    a{
        font-weight: 600;
        margin: 0px 10px;
    }

    .link{
        width: 20px;
        height: 20px;
        margin-left: 15px;
        position: relative;
        z-index: -1;
    }
}
