.site-form{
    background-color: white;
    border-radius: 15px;
    padding: 15px 0px;
    border: 1px solid var(--dark-color);
    width: 400px;
    position: absolute;
    transition: .4s;
    right: -430px;
}

.site-form .title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px;
}

.site-form .title .cross{
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: var(--dark-color);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.site-form .title .cross img{
    width: 60%;
    height: 60%;
}

.site-form .title h3{
    margin: 0;
}

.site-form input, .site-form select{
    padding: 8px;
    border-radius: 4px;
    border: 1px solid var(--dark-color);
    margin-right: 10px;
}

.site-form .field-container{
    display: flex;
    padding: 0px 15px;
}

.site-form .logo{
    width: 220px;
    margin: 10px 0px;
}

.site-form button{
    background-color: var(--main-color);
    border: none;
    margin: 0px;
    margin-top: 5px;
    padding: 9px 17px;
}

.site-form .field-container .field p{
    margin-bottom: 5px;
    margin-top: 10px;
}

.site-form input::-webkit-input-placeholder{
    color: rgb(200, 200, 200);
    font-family: var(--main-text-font-family);
    font-size: var(--main-text-font-size);
    font-weight: var(--main-text-font-weight);
}
